force-app/main/default/flows/AssignPermissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>soqlPermissionSets</name>
        <label>soqlPermissionSets</label>
        <locationX>183</locationX>
        <locationY>525</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionIsRoleAssigned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>PermissionSetAssignment</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>queryString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>addToPermissionCollection</name>
        <label>addToPermissionCollection</label>
        <locationX>1163</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>colPermissionSetAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPermissionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPermissionAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToPublicGroupCollection</name>
        <label>addToPublicGroupCollection</label>
        <locationX>1159</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>colPublicGroupAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPublicGroupRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPublicGroupAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPermissionSets</name>
        <label>AssignPermissionSets</label>
        <locationX>1162</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>varPermissionRecord.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPermissionAssignment.PermissionSetId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPermissionRecord.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPermissionRecord.PermissionSetGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPermissionAssignment.PermissionGroupSetId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToPermissionCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPublicGroups</name>
        <label>AssignPublicGroups</label>
        <locationX>1163</locationX>
        <locationY>1077</locationY>
        <assignmentItems>
            <assignToReference>varPublicGroupRecord.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPublicGroupAssignment.PublicGroupID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPublicGroupRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToPublicGroupCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionIsRoleAssigned</name>
        <label>decisionIsRoleAssigned?</label>
        <locationX>354</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>loopPermissionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soqlPermissionSets.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteCurrentPermissionSets</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>decNoRole</name>
        <label>decNoRole</label>
        <locationX>384</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>getAllAuthorizationAssigmentRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Roles Found</defaultConnectorLabel>
        <rules>
            <name>NoRolesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUserDetails.UserRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Roles Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decPermissionSetAvailable</name>
        <label>decPermissionSetAvailable</label>
        <locationX>968</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>loopPermissionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PermissionSetAvailable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopPermissionAssignment.PermissionSetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopPermissionAssignment.PermissionGroupSetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPermissionSets</targetReference>
            </connector>
            <label>Permission Set Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decPublicGroupAvailable</name>
        <label>decPublicGroupAvailable</label>
        <locationX>977</locationX>
        <locationY>1077</locationY>
        <defaultConnector>
            <targetReference>loopPublicGroupAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PublicGroupAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopPublicGroupAssignment.PublicGroupID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPublicGroups</targetReference>
            </connector>
            <label>Public Group Available</label>
        </rules>
    </decisions>
    <interviewLabel>Assign Permissions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Permissions</label>
    <loops>
        <name>loopPermissionAssignment</name>
        <label>loopPermissionAssignment</label>
        <locationX>817</locationX>
        <locationY>414</locationY>
        <collectionReference>getAllAuthorizationAssigmentRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decPermissionSetAvailable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createPermissionSetAssignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopPublicGroupAssignment</name>
        <label>loopPublicGroupAssignment</label>
        <locationX>807</locationX>
        <locationY>896</locationY>
        <collectionReference>getAllAuthorizationAssigmentRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decPublicGroupAvailable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createPublicGroupAssignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createPermissionSetAssignments</name>
        <label>createPermissionSetAssignments</label>
        <locationX>805</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>loopPublicGroupAssignment</targetReference>
        </connector>
        <inputReference>colPermissionSetAssignments</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createPublicGroupAssignments</name>
        <label>createPublicGroupAssignments</label>
        <locationX>813</locationX>
        <locationY>1121</locationY>
        <inputReference>colPublicGroupAssignments</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>deleteCurrentPermissionSets</name>
        <label>deleteCurrentPermissionSets</label>
        <locationX>364</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>loopPermissionAssignment</targetReference>
        </connector>
        <inputReference>soqlPermissionSets.sObjects</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getAllAuthorizationAssigmentRecords</name>
        <label>getAllAuthorizationAssigmentRecords</label>
        <locationX>178</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>soqlPermissionSets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUserDetails.UserRoleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AuthorizationAssignment__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserDetails</name>
        <label>getUserDetails</label>
        <locationX>177</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decNoRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getUserDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>queryString</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT AssigneeId,Id,PermissionSetId FROM PermissionSetAssignment where permissionset.isownedbyprofile = false AND assigneeID = &apos;{!varUserId}&apos;</text>
    </textTemplates>
    <variables>
        <name>colPermissionSetAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>colPublicGroupAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>soqlPermissionSetAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SELECT AssigneeId,Id,PermissionSetId FROM PermissionSetAssignment where permissionset.isownedbyprofile = false</stringValue>
        </value>
    </variables>
    <variables>
        <name>varPermissionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varPublicGroupRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
