force-app/main/default/flows/autoConvertRecordTriggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IL_LeadConversion</name>
        <label>IL_LeadConversion</label>
        <locationX>1502</locationX>
        <locationY>2663</locationY>
        <actionName>IL_LeadConversion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadListCollection</name>
            <value>
                <elementReference>soc_Leads</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>soc_Accounts</assignToReference>
            <name>Accounts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>soc_Contacts</assignToReference>
            <name>Contacts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>soc_Opportunities</assignToReference>
            <name>Opportunities</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AccountAssignment</name>
        <label>Account Assignment</label>
        <locationX>1590</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>sov_ConvertAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddVariabletoCollection</name>
        <label>AddVariabletoCollection</label>
        <locationX>1502</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>soc_Leads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Interaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignError</name>
        <label>Assign Error</label>
        <locationX>1854</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Error</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.ReadytoConvert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadAfterMatching</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSelectedExistingOpportunity</name>
        <label>Assign Selected Existing Opportunity</label>
        <locationX>1810</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>newOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatePrimaryContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsLeadReadyToConvert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactAssignment</name>
        <label>Contact Assignment</label>
        <locationX>1590</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>sov_ConvertContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contacs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityAssignment</name>
        <label>Opportunity Assignment</label>
        <locationX>1590</locationX>
        <locationY>3575</locationY>
        <assignmentItems>
            <assignToReference>sov_ConvertOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateLeadOpportunityCreateFalse</name>
        <label>Update Lead Opportunity Create False</label>
        <locationX>1546</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertCreateOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsLeadReadyToConvert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>autoConvertCreateContact</name>
        <label>Auto convert create Contact?</label>
        <locationX>1678</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>createOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertCreateContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Create Contact</label>
        </rules>
        <rules>
            <name>UpdateAccountOnContact</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5) OR (6 AND 7) OR 8) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>forLeadConversionAccountLiber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>forLeadConversionAccountNoordhoff</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>forLeadConversionAccountPlantyn</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContactAccount</targetReference>
            </connector>
            <label>Update Account on Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>createOpportunity</name>
        <label>Create Opportunity</label>
        <locationX>1678</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>updatePrimaryContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertCreateOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createOpportunityBeforeConvert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesAccountContactRelationshipExist</name>
        <label>Does Account Contact Relationship exist?</label>
        <locationX>1502</locationX>
        <locationY>3911</locationY>
        <defaultConnector>
            <targetReference>UpdatePrivacyPermissionAfterConvert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoAccountContactRelationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_AccountContactRelationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_ConvertAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_ConvertContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConvertedAccount</targetReference>
            </connector>
            <label>No Account Contact Relationship</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesInteractionExist</name>
        <label>Does Interaction Exist</label>
        <locationX>1502</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>createInteractionBeforeConvert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Interaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IL_LeadConversion</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadReadyToConvert</name>
        <label>Is Lead ready to convert?</label>
        <locationX>1678</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>AssignError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not ready to convert</defaultConnectorLabel>
        <rules>
            <name>ReadyToConvert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.ReadytoConvert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLeadBeforeConvert</targetReference>
            </connector>
            <label>Ready to convert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match</name>
        <label>Match</label>
        <locationX>1084</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertAccountMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchAccount</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertAccountMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchAccount</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertContactMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchContact</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertContactMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchContact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertCampaignMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchCampaign</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertCampaignMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchCampaign</targetReference>
            </connector>
            <label>Campaign</label>
        </rules>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertProductMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertProductMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchProduct</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchProduct</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>1 AND 3 AND 4 AND (2 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertOpportunityMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchOpportunity</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertOpportunityMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchOpportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>MatchingCompleted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.ReadytoConvert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.ReadytoConvert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Matching Completed</label>
        </rules>
    </decisions>
    <formulas>
        <name>forLeadConversionAccountLiber</name>
        <dataType>String</dataType>
        <expression>{!$Label.LeadConversionAccountLiber}</expression>
    </formulas>
    <formulas>
        <name>forLeadConversionAccountNoordhoff</name>
        <dataType>String</dataType>
        <expression>{!$Label.LeadConversionAccountNoordhoff}</expression>
    </formulas>
    <formulas>
        <name>forLeadConversionAccountPlantyn</name>
        <dataType>String</dataType>
        <expression>{!$Label.LeadConversionAccountPlantyn}</expression>
    </formulas>
    <formulas>
        <name>form_AccountId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!sov_Lead.Account__c})),{!sov_Lead.Account__c},
IF( ISPICKVAL({!sov_Lead.OperatingCompany__c}, &quot;Plantyn&quot;) , {!$Label.LeadConversionAccountPlantyn} , 
IF( ISPICKVAL({!sov_Lead.OperatingCompany__c}, &quot;Liber&quot;),{!$Label.LeadConversionAccountLiber} ,
IF( ISPICKVAL({!sov_Lead.OperatingCompany__c}, &quot;Noordhoff&quot;),{!$Label.LeadConversionAccountNoordhoff} ,&quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>form_Error</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISNULL({!sov_Lead.Account__c}),ISNULL({!sov_Lead.Contact__c})),&quot;No Account and Contact found&quot;,
IF(AND(ISNULL({!sov_Lead.Account__c}),NOT(ISNULL({!sov_Lead.Contact__c}))),&quot;No Account found&quot;,
IF(AND(NOT(ISNULL({!sov_Lead.Account__c})),ISNULL({!sov_Lead.Contact__c})),&quot;No Contact found&quot;,&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>methodValueFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!sov_Lead.Method__c}), {!sov_Lead.Product__r.Method__c}, {!sov_Lead.Method__c})</expression>
    </formulas>
    <formulas>
        <name>opportunityAmountCalculation</name>
        <dataType>Currency</dataType>
        <expression>{!sov_Lead.NumberOfEmployees} * {!sov_Lead.Price_per_Pupil__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Auto Convert - Record Triggerred {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Convert - Record Triggered</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>1502</locationX>
        <locationY>2783</locationY>
        <collectionReference>soc_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccountAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Contacs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contacs</name>
        <label>Loop Contacs</label>
        <locationX>1502</locationX>
        <locationY>3119</locationY>
        <collectionReference>soc_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContactAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>1502</locationX>
        <locationY>3455</locationY>
        <collectionReference>soc_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OpportunityAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAccountContactRelationship</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1414</locationX>
        <locationY>1055</locationY>
        <assignRecordIdToReference>var_CreatedContact</assignRecordIdToReference>
        <connector>
            <targetReference>updateLeadWithNewContact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>form_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>sov_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>sov_Lead.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sov_Lead.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>sov_Lead.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAccountContactRelationship</name>
        <label>Create Account Contact Relationship</label>
        <locationX>1370</locationX>
        <locationY>4151</locationY>
        <connector>
            <targetReference>UpdatePrivacyPermissionAfterConvert</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>sov_ConvertAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sov_ConvertContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>sov_ConvertAccount.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createOpportunityBeforeConvert</name>
        <label>Create Opportunity Before Convert</label>
        <locationX>1546</locationX>
        <locationY>1511</locationY>
        <assignRecordIdToReference>newOpportunity</assignRecordIdToReference>
        <connector>
            <targetReference>updateLeadOpportunityCreateFalse</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>opportunityAmountCalculation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>getCustomMetadata.defaultCloseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>methodValueFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfStudents__c</field>
            <value>
                <elementReference>sov_Lead.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricePerPupil__c</field>
            <value>
                <elementReference>sov_Lead.Price_per_Pupil__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>getCustomMetadata.defaultOpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Interaction</name>
        <label>Get Interaction</label>
        <locationX>1502</locationX>
        <locationY>2207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesInteractionExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>1678</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>sov_Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>AutoConvertCreateAccount__c</queriedFields>
        <queriedFields>AutoConvertCreateContact__c</queriedFields>
        <queriedFields>AutoConvertCreateOpportunity__c</queriedFields>
        <queriedFields>AutoConvertError__c</queriedFields>
        <queriedFields>ReadytoConvert__c</queriedFields>
        <queriedFields>OperatingCompany__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Method__c</queriedFields>
        <queriedFields>ConvertedContactId</queriedFields>
        <queriedFields>Message__c</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <queriedFields>Price_per_Pupil__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountContactRelationship</name>
        <label>Get Account Contact Relationship</label>
        <locationX>1502</locationX>
        <locationY>3791</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesAccountContactRelationshipExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_ConvertAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_ConvertContact.Id</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>soc_AccountContactRelationship</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>Get Contact</label>
        <locationX>1678</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>autoConvertCreateContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetConvertedAccount</name>
        <label>Get Converted Account</label>
        <locationX>1370</locationX>
        <locationY>4031</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAccountContactRelationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_ConvertAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sov_ConvertAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCustomMetadata</name>
        <label>Get Custom Metadata</label>
        <locationX>1678</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Operating_Company__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInitialLead</name>
        <label>Get Initial Lead</label>
        <locationX>1084</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateContactAccount</name>
        <label>Update Contact Account</label>
        <locationX>1678</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>createOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadAfterMatching</name>
        <label>Update Lead after matching</label>
        <locationX>1854</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>UpdatePrivacyPermissionAfterMatching</targetReference>
        </connector>
        <inputReference>sov_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadBeforeConvert</name>
        <label>Update Lead before convert</label>
        <locationX>1502</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>AddVariabletoCollection</targetReference>
        </connector>
        <inputReference>sov_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLeadWithNewContact</name>
        <label>Update Lead with New Contact</label>
        <locationX>1414</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>createOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>var_CreatedContact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePrimaryContact</name>
        <label>Update Primary Contact</label>
        <locationX>1810</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>assignSelectedExistingOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrivacyPermissionAfterConvert</name>
        <label>Update Privacy Permission after convert</label>
        <locationX>1502</locationX>
        <locationY>4367</locationY>
        <connector>
            <targetReference>UpdateInteractionAfterConvert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>sov_ConvertContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PrivacyPermission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrivacyPermissionAfterMatching</name>
        <label>Update Privacy Permission after matching</label>
        <locationX>1854</locationX>
        <locationY>2207</locationY>
        <connector>
            <targetReference>UpdateInteractionAfterMatching</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>PrivacyPermission__c</object>
    </recordUpdates>
    <start>
        <locationX>958</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInitialLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AutoConvert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>createInteractionBeforeConvert</name>
        <label>Create Interaction before convert</label>
        <locationX>1590</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>IL_LeadConversion</targetReference>
        </connector>
        <flowName>InteractionLead</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MatchAccount</name>
        <label>Match Account</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Match</targetReference>
        </connector>
        <flowName>MatchLeadsToAccount</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>getInitialLead</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MatchCampaign</name>
        <label>Match Campaign</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Match</targetReference>
        </connector>
        <flowName>MatchLeadToCampaign</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MatchContact</name>
        <label>Match Contact</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Match</targetReference>
        </connector>
        <flowName>MatchLeadsToContact</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>MatchOpportunity</name>
        <label>Match Opportunity</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Match</targetReference>
        </connector>
        <flowName>MatchLeadsToOpportunity</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MatchProduct</name>
        <label>Match Leads To Product</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Match</targetReference>
        </connector>
        <flowName>MatchLeadsToProduct</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UpdateInteractionAfterConvert</name>
        <label>Update Interaction after convert</label>
        <locationX>1502</locationX>
        <locationY>4487</locationY>
        <flowName>InteractionLead</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedAccount</name>
            <value>
                <elementReference>sov_ConvertAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedContact</name>
            <value>
                <elementReference>sov_ConvertContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedOpportunity</name>
            <value>
                <elementReference>sov_ConvertOpportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UpdateInteractionAfterMatching</name>
        <label>Update Interaction after matching</label>
        <locationX>1854</locationX>
        <locationY>2327</locationY>
        <flowName>InteractionLead</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>opportunityName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!sov_Lead.Name} - {!sov_Lead.Product__r.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>newOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>soc_AccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>soc_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soc_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>soc_Leads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>soc_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sov_ConvertAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sov_ConvertContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sov_ConvertOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sov_PrivacyPermission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PrivacyPermission__c</objectType>
    </variables>
    <variables>
        <name>var_CreatedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
