force-app/main/default/flows/CaseManagement_StatusBasedAssign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_New_Owner</name>
        <label>Set New Owner</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_New_Owner_Status</name>
        <label>Set New Owner &amp; Status</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_New_Status</name>
        <label>Set New Status</label>
        <locationX>842</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_New_Owner</name>
        <label>Set New Owner</label>
        <locationX>3218</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_New_Owner_Status</name>
        <label>Set New Owner &amp; Status</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_New_Status</name>
        <label>Set New Status</label>
        <locationX>4010</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_New_Owner</name>
        <label>Set New Owner</label>
        <locationX>4802</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_New_Owner_Status</name>
        <label>Set New Owner &amp; Status</label>
        <locationX>3482</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_New_Status</name>
        <label>Set New Status</label>
        <locationX>5594</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_New_Owner_Status</name>
        <label>Set New Owner &amp; Status</label>
        <locationX>3746</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Set_New_Owner_Status</name>
        <label>Set New Owner &amp; Status</label>
        <locationX>5066</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Set_New_Owner_Status</name>
        <label>Set New Owner &amp; Status</label>
        <locationX>5330</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Owner_Status</name>
        <label>Set New Owner &amp; Status</label>
        <locationX>1898</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Owner_Status2</name>
        <label>Set New Owner &amp; Status</label>
        <locationX>2162</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewOwner</name>
        <label>Set New Owner</label>
        <locationX>1634</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_NewQueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewStatus</name>
        <label>Set New Status</label>
        <locationX>2426</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_What_is_the_current_case_status</name>
        <label>What is the current case status?</label>
        <locationX>3746</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_New_Owner</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Copy_2_of_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_New_Owner_Status</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Copy_2_of_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Set_New_Owner_Status</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Copy_2_of_Solved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_New_Status</targetReference>
            </connector>
            <label>Solved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_What_is_the_current_case_status</name>
        <label>What is the current case status?</label>
        <locationX>5330</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_New_Owner</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Copy_3_of_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Set_New_Owner_Status</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Copy_3_of_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Set_New_Owner_Status</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Copy_3_of_Solved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_New_Status</targetReference>
            </connector>
            <label>Solved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_case_need_to_be_reassigned1</name>
        <label>Does the case need to be reassigned?</label>
        <locationX>974</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMetadataSettingforOpCo.MaximumAllowedDaysinStatus__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>form_DaysSinceModified</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_current_case_status1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_case_need_to_be_reassigned3</name>
        <label>Does the case need to be reassigned?</label>
        <locationX>4142</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMetadataSettingforOpCo.MaximumAllowedDaysinStatus__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>form_DaysSinceModified</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_What_is_the_current_case_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_case_need_to_be_reassigned4</name>
        <label>Does the case need to be reassigned?</label>
        <locationX>5726</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMetadataSettingforOpCo.MaximumAllowedDaysinStatus__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>form_DaysSinceModified</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_What_is_the_current_case_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doesthecaseneedtobereassigned_Noordhoff</name>
        <label>Does the case need to be reassigned?</label>
        <locationX>2558</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMetadataSettingforOpCo.MaximumAllowedDaysinStatus__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>form_DaysSinceModified</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whatisthecurrentcasestatus_Noordhoff</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OperatingCompany</name>
        <label>Operating Company</label>
        <locationX>3680</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Liber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_case_need_to_be_reassigned1</targetReference>
            </connector>
            <label>Liber</label>
        </rules>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Doesthecaseneedtobereassigned_Noordhoff</targetReference>
            </connector>
            <label>Noordhoff</label>
        </rules>
        <rules>
            <name>Plantyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_case_need_to_be_reassigned3</targetReference>
            </connector>
            <label>Plantyn</label>
        </rules>
        <rules>
            <name>NoordhoffProfessional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_case_need_to_be_reassigned4</targetReference>
            </connector>
            <label>Noordhoff Professional</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_current_case_status1</name>
        <label>What is the current case status?</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_New_Owner</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Copy_1_of_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_New_Owner_Status</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Copy_1_of_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_New_Owner_Status</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Copy_1_of_Solved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_New_Status</targetReference>
            </connector>
            <label>Solved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whatisthecurrentcasestatus_Noordhoff</name>
        <label>What is the current case status?</label>
        <locationX>2162</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewOwner</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>OnHold_Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Owner_Status</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Pending_Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Owner_Status2</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Solved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewStatus</targetReference>
            </connector>
            <label>Solved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>form_DaysSinceModified</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATEVALUE({!$Record.LastModifiedDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>form_NewQueueId</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.OwnerId} = {!GetMetadataSettingforOpCo.X3rdLineQueueID__c}, {!GetMetadataSettingforOpCo.X2ndLineQueueID__c}, 
IF({!$Record.OwnerId} = {!GetMetadataSettingforOpCo.X2ndLineQueueID__c}, {!GetMetadataSettingforOpCo.X1stLineQueueID__c}, {!GetMetadataSettingforOpCo.X1stLineQueueID__c}))</expression>
    </formulas>
    <interviewLabel>Case Management_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseManagement_StatusBasedAssign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMetadataSettingforOpCo</name>
        <label>Get Metadata Setting for OpCo</label>
        <locationX>3680</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OperatingCompany</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseQueueManagement__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>3680</locationX>
        <locationY>1044</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3554</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetMetadataSettingforOpCo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merged</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-24</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
