force-app/main/default/flows/ChangeLeadStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AddToLeadsToUpdate</name>
        <label>Add to Leads to update</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>LeadsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignId</name>
        <label>Assign ID</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.ReasonClosed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReasonClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToLeadsToUpdate</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>pickClosedReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonClosed__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Change Lead Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Lead Status</label>
    <loops>
        <name>LoopIds</name>
        <label>Loop Ids</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateLeads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateLeads</name>
        <label>Update Leads</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>LeadsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>scrStatus</name>
        <label>Status</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopIds</targetReference>
        </connector>
        <fields>
            <name>NewStatus</name>
            <choiceReferences>pickStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReasonClosed</name>
            <choiceReferences>pickClosedReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Closed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
