force-app/main/default/flows/CheckVATNumber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckVATNumber</name>
        <label>Check VAT Number</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <actionName>01p3N000006ISz2NotFound</actionName>
        <connector>
            <targetReference>CheckResponseStatusCode</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ResponseStatusCode</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_VAT_Status_To_Correct</name>
        <label>Set VAT Status To Correct</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.VATStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_VAT_Status_To_Error</name>
        <label>Set VAT Status To Error</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.VATStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_VAT_Status_To_Incorrect</name>
        <label>Set VAT Status To Incorrect</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.VATStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incorrect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckResponseStatusCode</name>
        <label>Check Response Status Code</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_VAT_Status_To_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>CorrectVATNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseStatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VAT_Status_To_Correct</targetReference>
            </connector>
            <label>Correct VAT Number</label>
        </rules>
        <rules>
            <name>IncorrectVATNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseStatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VAT_Status_To_Incorrect</targetReference>
            </connector>
            <label>Incorrect VAT Number</label>
        </rules>
    </decisions>
    <interviewLabel>CheckVATNumber {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check VAT Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckVATNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VATNumber__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>VATNumber__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ResponseStatusCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
