force-app/main/default/flows/ContractAfterSaveUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignEmailFeilds</name>
        <label>AssignEmailFeilds</label>
        <locationX>50</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingReminderEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingReminderEmail2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingReminderEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingReminderEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Digital_Activation_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.DigitalActivationEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InvoicingEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.InvoiceEmail2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InvoicingEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.InvoicingEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderNotificationEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OrderNotificationEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Next_Invoicing_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFormalaDateToNewDateVariable</name>
        <label>assignFormalaDateToNewDateVariable</label>
        <locationX>1339</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>varNewInvoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCalculateNewYearlyInvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignInvoiceDatesToRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFormalaDateToNewDateVariable_0</name>
        <label>assignFormalaDateToNewDateVariable</label>
        <locationX>1343</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>varNewInvoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCalculateNewQuarterlyInvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignInvoiceDatesToRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFormalaDateToNewDateVariable_0_0</name>
        <label>assignFormalaDateToNewDateVariable</label>
        <locationX>1349</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>varNewInvoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCalculateNewMonthlyInvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignInvoiceDatesToRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInvoiceDatesToRecord</name>
        <label>AssignInvoiceDatesToRecord</label>
        <locationX>1559</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>$Record.NextInvoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewInvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PreviousInvoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Continue_with_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Continue_with_update</name>
        <label>Continue with update</label>
        <locationX>961</locationX>
        <locationY>1083</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssignEmailFeilds</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssignInvoiceDatesToRecord</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract</targetReference>
            </connector>
            <label>Yes Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_or_Updated</name>
        <label>Created or Updated</label>
        <locationX>444</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>Set_Next_Invoicing_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailFeilds</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsDateSmallerThanEndDate</name>
        <label>decIsDateSmallerThanEndDate</label>
        <locationX>1074</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Continue_with_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formulaCalculateNewYearlyInvoiceDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFormalaDateToNewDateVariable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsDateSmallerThanEndDate_0</name>
        <label>decIsDateSmallerThanEndDate</label>
        <locationX>1075</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Continue_with_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formulaCalculateNewQuarterlyInvoiceDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFormalaDateToNewDateVariable_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsDateSmallerThanEndDate_0_0</name>
        <label>decIsDateSmallerThanEndDate</label>
        <locationX>1072</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Continue_with_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formulaCalculateNewMonthlyInvoiceDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFormalaDateToNewDateVariable_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decWhatFrequencyIsUsed</name>
        <label>decWhatFrequencyIsUsed</label>
        <locationX>829</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yearly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InvoicingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yearly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decIsDateSmallerThanEndDate</targetReference>
            </connector>
            <label>Yearly</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InvoicingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decIsDateSmallerThanEndDate_0_0</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Quarterly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InvoicingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decIsDateSmallerThanEndDate_0</targetReference>
            </connector>
            <label>Quarterly</label>
        </rules>
        <rules>
            <name>One_off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InvoicingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-off</stringValue>
                </rightValue>
            </conditions>
            <label>One-off</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Next_Invoicing_Date</name>
        <label>Set Next Invoicing Date</label>
        <locationX>444</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>Continue_with_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_to_set_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NextInvoiceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decWhatFrequencyIsUsed</targetReference>
            </connector>
            <label>Continue to set date</label>
        </rules>
    </decisions>
    <description>Merged and converted from:
Set Next Invoicing Date: Flow to set an invoice date based on the invoicing frequency.
Process Builder: 1. General Contract Management Process - Created
CH 2023/03/20 - removed order notification 2 email assignment</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaCalculateNewMonthlyInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.StartDate},1)</expression>
    </formulas>
    <formulas>
        <name>formulaCalculateNewQuarterlyInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>addmonths({!$Record.StartDate},3)</expression>
    </formulas>
    <formulas>
        <name>formulaCalculateNewYearlyInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>addmonths({!$Record.StartDate},12)</expression>
    </formulas>
    <formulas>
        <description>Checks if the record is New or if it&apos;s an Update</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Contract After Save Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract After Save Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>971</locationX>
        <locationY>1271</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>326</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Created_or_Updated</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNewInvoiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
