force-app/main/default/flows/CreateContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignAccountId</name>
        <label>assignAccountId</label>
        <locationX>617</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCalenderDates</name>
        <label>assignCalendarDates</label>
        <locationX>631</locationX>
        <locationY>1865</locationY>
        <assignmentItems>
            <assignToReference>varContractStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCalendarContractStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constant12ContractTerms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CalendarYear</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignManualContractStartDates</name>
        <label>assignManualContractStartDates</label>
        <locationX>868</locationX>
        <locationY>1867</locationY>
        <assignmentItems>
            <assignToReference>varContractStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputContractStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputContractTerms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CustomDate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMethods</name>
        <label>assignMethods</label>
        <locationX>614</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklistPricingMethod.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklistPaymethod.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingCostMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklistShippingCostMethod.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsContractRenewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNoRenewal</name>
        <label>assignNoRenewal</label>
        <locationX>419</locationX>
        <locationY>1491</locationY>
        <assignmentItems>
            <assignToReference>varContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>whatDatesToUse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We might as well set the variables for all methods in the next step so we have default values in our Quick Choice Picklists</description>
        <name>assignPricebookAndMethods</name>
        <label>assignPricebookAndMethods</label>
        <locationX>612</locationX>
        <locationY>1033</locationY>
        <assignmentItems>
            <assignToReference>varPricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatablePricebook.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountDetails.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingCostMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountDetails.ShippingCostMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountDetails.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenContractDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRenewal_0</name>
        <label>assignRenewal</label>
        <locationX>858</locationX>
        <locationY>1480</locationY>
        <assignmentItems>
            <assignToReference>varContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>whatDatesToUse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSeasonalDates</name>
        <label>assignSeasonalDates</label>
        <locationX>403</locationX>
        <locationY>1854</locationY>
        <assignmentItems>
            <assignToReference>varContractStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaSeasonalContractStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constant12ContractTerms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seasonal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContract</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Choice to reflect start and end dates from 1st jan to 31st of dec</description>
        <name>choiceCalendarDates</name>
        <choiceText>Calender Year (1st of Jan to 31st of Dec)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>calendardates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceExempt</name>
        <choiceText>Exempt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceGroupBasedRate</name>
        <choiceText>Group Based Rate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GroupBasedRate</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceInvoice</name>
        <choiceText>Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLicenseUsageBased</name>
        <choiceText>License Usage Based</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LicenseUsageBasedRate</stringValue>
        </value>
    </choices>
    <choices>
        <description>Fill out the dates yourself</description>
        <name>choiceManualDate</name>
        <choiceText>Manual Date selection for start and end dates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>manual</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOrderTotalRate</name>
        <choiceText>Order Total Rate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OrderTotalRate</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePrepayment</name>
        <choiceText>Prepayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prepayment</stringValue>
        </value>
    </choices>
    <choices>
        <description>Option to choose a start date at 1 sept and end date at 31 aug.</description>
        <name>choiceSeasonDate</name>
        <choiceText>Season (1st Sept to 31st of Aug)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>seasondates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWeight</name>
        <choiceText>Weight</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weight</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>radionSingleBilltoSelection</name>
        <choiceText>I want to add an order to a single Bill-to Party</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>constant12ContractTerms</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>constantContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </constants>
    <constants>
        <description>Autorenewal</description>
        <name>constantContractRenewalType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-Renewal</stringValue>
        </value>
    </constants>
    <constants>
        <description>License Agreement</description>
        <name>constantContractType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>License Agreement</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantInformatPricebook</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s3V000000T8WNQA0</stringValue>
        </value>
    </constants>
    <constants>
        <description>Yearly</description>
        <name>constantInvoiceFrequency</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yearly</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantMultipleShipTo</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>decIsContractRenewal</name>
        <label>decIsContractRenewal</label>
        <locationX>606</locationX>
        <locationY>1482</locationY>
        <defaultConnector>
            <targetReference>assignNoRenewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistContractRenewalType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>autorenewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRenewal_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>whatDatesToUse</name>
        <label>decWhatDatesToUse</label>
        <locationX>609</locationX>
        <locationY>1654</locationY>
        <defaultConnector>
            <targetReference>assignManualContractStartDates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual</defaultConnectorLabel>
        <rules>
            <name>Seasonal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputDatesPicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceSeasonDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSeasonalDates</targetReference>
            </connector>
            <label>Seasonal</label>
        </rules>
        <rules>
            <name>Calendar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputDatesPicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceCalendarDates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCalenderDates</targetReference>
            </connector>
            <label>Calendar</label>
        </rules>
    </decisions>
    <description>20201222: Forked Create Sales Order for creating a flow that creates a Contract creation interface.
20200112: First version to test
20200117: Added Contract Period Type on creation.
20200125: Removed pricebook selection. It&apos;s now either all service pricebooks or all sales pricebooks. And the end date of the pb must be in the future. Removed question to halt the process at making a contract. You will have to make orders now.</description>
    <formulas>
        <name>formulaCalendarContractStartDate</name>
        <dataType>Date</dataType>
        <expression>date(YEAR(today())+1,1,1)</expression>
    </formulas>
    <formulas>
        <description>Pricebook - Accountname - Ordernumber</description>
        <name>formulaContractName</name>
        <dataType>String</dataType>
        <expression>{!datatablePricebook.outputSelectedRow.Name} + &quot; - &quot; +  {!getAccountDetails.Name}  + &quot; - &quot; + text( year(today()))</expression>
    </formulas>
    <formulas>
        <name>formulaSeasonalContractStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
				(TODAY() &gt; date(YEAR(TODAY()),7,31)),
        date(YEAR(today())+1,8,1),
			 date(YEAR(today()),8,1)
	 )</expression>
    </formulas>
    <interviewLabel>Create Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContract</name>
        <label>createContract</label>
        <locationX>631</locationX>
        <locationY>2176</locationY>
        <assignRecordIdToReference>varContractId</assignRecordIdToReference>
        <connector>
            <targetReference>subflowOrderProductSelector</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractPeriodType__c</field>
            <value>
                <elementReference>varDateType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractRenewalType__c</field>
            <value>
                <elementReference>picklistContractRenewalType.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>varContractTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractType__c</field>
            <value>
                <elementReference>picklistContractType.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingFrequency__c</field>
            <value>
                <elementReference>picklistInvoicingFrequency.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>inputContractName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod__c</field>
            <value>
                <elementReference>varPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>varPricebook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricingMethod__c</field>
            <value>
                <elementReference>varPricingMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCostMethod__c</field>
            <value>
                <elementReference>varShippingCostMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>varContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>defaultBilltoAccount__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>defaultShipToAccount__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the current account details.</description>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>617</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPricebook</name>
        <label>getPricebook</label>
        <locationX>614</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenChoosePricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screenChoosePricebook</name>
        <label>Choose a pricebook</label>
        <locationX>613</locationX>
        <locationY>889</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignPricebookAndMethods</targetReference>
        </connector>
        <fields>
            <name>textInformationPricebook</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Choose a Pricebook&lt;/b&gt;&lt;/p&gt;&lt;p&gt;With each Contract a Pricebook is chosen. This Pricebook will be used on the Contract, Orders and Order Item. Salesforce does not allow mixing Pricebooks within a Contract.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatablePricebook</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pricebook2</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getPricebook</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, SalesSeason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenContractDetails</name>
        <label>Contract Details</label>
        <locationX>612</locationX>
        <locationY>1200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignMethods</targetReference>
        </connector>
        <fields>
            <name>inputContractName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>formulaContractName</elementReference>
            </defaultValue>
            <fieldText>Please enter a contract name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>picklistPricingMethod</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>PricingMethod__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varPricingMethod</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Pricing Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>picklistPaymethod</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>PaymentMethod__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varPaymentMethod</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Payment Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>picklistShippingCostMethod</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>ShippingCostMethod__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varShippingCostMethod</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Shipping Cost Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>picklistContractType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>ContractType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Contract Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>constantContractType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>picklistContractRenewalType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>ContractRenewalType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>constantContractRenewalType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Contract Renewal Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>picklistInvoicingFrequency</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>InvoicingFrequency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Invoice frequency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>constantInvoiceFrequency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputDatesPicklist</name>
            <choiceReferences>choiceSeasonDate</choiceReferences>
            <choiceReferences>choiceCalendarDates</choiceReferences>
            <choiceReferences>choiceManualDate</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceManualDate</defaultSelectedChoiceReference>
            <fieldText>Choose a contract period:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputContractStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Contract Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>inputDatesPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceManualDate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputContractTerms</name>
            <dataType>Number</dataType>
            <fieldText>Contract Period (in months e.g. 12 for a year))</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>inputDatesPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceManualDate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>toggleWouldYouLikeToKnowMore</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Activate this toggle for more information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>textInfoShippingPaymentmethod</name>
            <fieldText>&lt;p&gt;﻿&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Payment and Shipping Cost method&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The default Payment and Shipping Cost Methods are set on the account. If you would like to use these default settings, do nothing.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Default Payment Method: {!getAccountDetails.PaymentMethod__c}&lt;/p&gt;&lt;p&gt;Default Shipping Method: {!getAccountDetails.ShippingCostMethod__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggleWouldYouLikeToKnowMore.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>textInformationPricingMethod</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Price Met﻿hod&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Before we can create orders and order items, we need to know how prices are going to be calculated.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Group Based Rate: the price is calculated with details from the Purchase Group account (number of students)&lt;/li&gt;&lt;li&gt;Order Total Rate: the price is calculated on the totals (quantities) of the orders&lt;/li&gt;&lt;li&gt;License Usage Based Rate: the price is calculated on current product/license usage&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;The Bill-to Account has the following default Pricing Method:  &lt;b&gt;{!getAccountDetails.PricingMethod__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggleWouldYouLikeToKnowMore.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>491</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>assignAccountId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Flow called from the Create Contract flow</description>
        <name>subflowOrderProductSelector</name>
        <label>subflowOrderProductSelector</label>
        <locationX>632</locationX>
        <locationY>2331</locationY>
        <flowName>Order_ProductSelector</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContractRenewal</name>
            <value>
                <elementReference>varContractRenewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContractRequired</name>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExistingContract</name>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MultipleShipToSelect</name>
            <value>
                <elementReference>constantMultipleShipTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PricebookId</name>
            <value>
                <elementReference>varPricebook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PricingMethod</name>
            <value>
                <elementReference>varPricingMethod</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>colAccountSelectionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colPricebooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>colSelectedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ExistingContractAccounts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillToParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractRenewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractTerms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMarketSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMarketSegments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOperatingCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPricingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSeasonDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varShippingCostMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShipToParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varTotalPupils</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
