force-app/main/default/flows/CreateBooklistAssetFromRetailerStatisticsImport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <formulas>
        <name>forBooklistRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.BooklistRecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>forYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.OrderDate__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Booklist Asset from Retailer Statistics Import {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Booklist Asset from Retailer Statistics Import</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateBooklistAsset</name>
        <label>Create Booklist Asset</label>
        <locationX>178</locationX>
        <locationY>355</locationY>
        <assignRecordIdToReference>varCreatedAsset</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateRetailerStatisticsImportRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.SoldToAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <stringValue>Retailer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSalesStatistic__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>$Record.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>forBooklistRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>forYear</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordUpdates>
        <name>UpdateRetailerStatisticsImportRecord</name>
        <label>Update Retailer Statistics Import record</label>
        <locationX>178</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>varCreatedAsset</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateBooklistAsset</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>MatchStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>SoldToAccount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsbnEan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Retailer_Statistics_Import__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varCreatedAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
