force-app/main/default/flows/CreateAndUpdateAssets2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetAssetsFromOrderItems</name>
        <label>GetAssetsFromOrderItems</label>
        <locationX>428</locationX>
        <locationY>458</locationY>
        <actionName>Order_AssetsFromOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loopOrderItems</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ListOfItems</name>
            <value>
                <elementReference>getOrderItems</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colAssetCreateCollection</assignToReference>
            <name>ListOfAssets</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignAssetValues</name>
        <label>assignAssetValues</label>
        <locationX>1354</locationX>
        <locationY>1104</locationY>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ShipToAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.ActivationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.AutomatedRenewProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Renewable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.BillToAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Order.Billto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.DiscountedPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.DiscountedPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.LicenseDuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.LicenseDuration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.ManualDiscountPercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ManualDiscountPercent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.ManualDiscountValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ManualDiscountValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.ManualDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ManualDiscountValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Product2.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.PriceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Order.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.PriceValidTillDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Order.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.PricingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Order.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.RenewalDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetCreateRecord.tmpOrderItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUpdateAndCreateAssets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAssetValuesCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAssetValuesCreate</name>
        <label>assignAssetValuesCreate</label>
        <locationX>984</locationX>
        <locationY>1111</locationY>
        <assignmentItems>
            <assignToReference>colAssetCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAssetCreateRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOrderItemsOfAssetCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopUpdateAndCreateAssets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopUpdateAndCreateAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAssetValuesUpdate</name>
        <label>assignAssetValuesUpdate</label>
        <locationX>959</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>colAssetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getAssets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopUpdateAndCreateAssets.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopUpdateAndCreateAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderToUpdateCollection</name>
        <label>assignOrderToUpdateCollection</label>
        <locationX>1374</locationX>
        <locationY>1471</locationY>
        <assignmentItems>
            <assignToReference>colOrderItemUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopUpdateOrderItemLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopUpdateOrderItemLoop.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUpdateAssetLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopUpdateAssetLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRegularOrderQuantity</name>
        <label>assignRegularOrderQuantity</label>
        <locationX>1349</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>getAssets.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaRegularOrderQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textUpdatedAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.PriceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Order.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAssetValuesUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRenewalOrderQuantity</name>
        <label>assignRenewalOrderQuantity</label>
        <locationX>1153</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>getAssets.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textUpdatedRenewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.RenewalDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.ManualDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ManualDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.ManualDiscountPercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ManualDiscountPercent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.ManualDiscountValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ManualDiscountValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.DiscountedPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.DiscountedPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.LastRenewalUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.LicenseDuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.LicenseDuration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAssets.PriceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOrderItems.Order.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAssetValuesUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTMPAssetToOrderItem</name>
        <label>assignTMPAssetToOrderItem</label>
        <locationX>961</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>loopOrderItems.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopMatchAssetsToItems.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOrderItems</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constantDateTomorrow</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2021-02-04</dateValue>
        </value>
    </constants>
    <decisions>
        <description>We need to know whether an asset was found so we can update it, or no asset was found. Then we add the order item id to a collection with which we create a new one.</description>
        <name>decEmptyOrAssetFound</name>
        <label>decEmptyOrAssetFound</label>
        <locationX>951</locationX>
        <locationY>893</locationY>
        <defaultConnector>
            <targetReference>assignAssetValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Asset found</defaultConnectorLabel>
        <rules>
            <name>AssetFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopUpdateAndCreateAssets.tmpAssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decRegularOrRenewal</targetReference>
            </connector>
            <label>AssetFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>decMatchFound</name>
        <label>decMatchFound</label>
        <locationX>1361</locationX>
        <locationY>1280</locationY>
        <defaultConnector>
            <targetReference>loopUpdateOrderItemLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match Found</defaultConnectorLabel>
        <rules>
            <name>Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopUpdateAssetLoop.tmpOrderItemId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopUpdateOrderItemLoop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOrderToUpdateCollection</targetReference>
            </connector>
            <label>Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decMatching</name>
        <label>decMatching</label>
        <locationX>1333</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>loopMatchAssetsToItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No matches found</defaultConnectorLabel>
        <rules>
            <name>AssetMatchesItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopUpdateAndCreateAssets.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopOrderItems.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopUpdateAndCreateAssets.ShipToAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopOrderItems.Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTMPAssetToOrderItem</targetReference>
            </connector>
            <label>Asset Matches Item</label>
        </rules>
    </decisions>
    <decisions>
        <description>We need to know whether to overwrite the quantity or do an addition.</description>
        <name>decRegularOrRenewal</name>
        <label>decRegularOrRenewal</label>
        <locationX>1345</locationX>
        <locationY>879</locationY>
        <defaultConnector>
            <targetReference>assignRegularOrderQuantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RegularOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOrderItems.Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RegularOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRegularOrderQuantity</targetReference>
            </connector>
            <label>Regular Order</label>
        </rules>
        <rules>
            <name>RenewalOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOrderItems.Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RenewalOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRenewalOrderQuantity</targetReference>
            </connector>
            <label>Renewal Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>decWhatPriceBook</name>
        <label>decWhatPriceBook</label>
        <locationX>77</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InformatSIMSLMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2.MarketSegment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIMSLMS</stringValue>
                </rightValue>
            </conditions>
            <label>Informat SIMSLMS</label>
        </rules>
    </decisions>
    <description>20210203: WK - First version. Creates or updates existing assets on Order Activation. Created an option for SIMSLMS Products to take an alternate route (always create new assets or just use existing ones, now it updates whenever possible).
20210215: Update the create records with Pricing method.
20210216: Updated the update loop for renewals to contain price. This may vary from renewal to renewal. Regular orders get the same price as the running asset. Removed filter for Order Items to only get those items WITHOUT Asset. Asset is written to Order Items in Apex when it is a renewal Order (and Order Item). Description for updated and renewal assets with a time stamp.
20210224: Added Manual discounts to the asset.
20210317: Added PriceValidUntil on CreateAsset with order end date (under review)
20210318: Added InvoicingFrequency field on asset and in this flow.
20210321: Added ListPrice and Discounted price at renewal order and create new asset
20210325: Removed InvoicingFrequency as field on create.
20210401: Added extra filter on GetOrderItems: asset must be null. Got weird quantities. Added Usage End Date filter on get assets, when today &lt; ued then use that asset. If bigger, then create a new one.
20210407: Tweaked get assets filter: order item start date &lt; cancellation date is update, &gt; cancellation date is a new asset.
20210408: Optimisation of the flow, first step: only trigger flow once when criteria are set and met. This makes sure it only fires once.
20210412: Redesign of all loops so we don&apos;t run into limits. Need to add Apex class to get Assets from order item shipto&apos;s.
OLD VERSION FOR HISTORICAL VALUE DO NOT USE</description>
    <formulas>
        <name>formulaRegularOrderQuantity</name>
        <dataType>Number</dataType>
        <expression>{!getAssets.Quantity} + {!loopOrderItems.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaTomorrow</name>
        <dataType>Date</dataType>
        <expression>today()+1</expression>
    </formulas>
    <formulas>
        <description>Text for the description part of the asset</description>
        <name>textUpdatedAsset</name>
        <dataType>String</dataType>
        <expression>&quot;This asset was updated at &quot; + text({!$Flow.CurrentDateTime}) + &quot; (GMT) with &quot; + text({!loopOrderItems.Quantity}) + &quot; units.&quot;</expression>
    </formulas>
    <formulas>
        <description>Text for description of asset.</description>
        <name>textUpdatedRenewal</name>
        <dataType>String</dataType>
        <expression>&quot;This asset was rewritten (quantity, price and renewal date) by a renewal order item at &quot; + text({!$Flow.CurrentDateTime}) + &quot; (GMT).&quot;</expression>
    </formulas>
    <interviewLabel>Create and Update Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create and Update Assets</label>
    <loops>
        <name>loopMatchAssetsToItems</name>
        <label>loopMatchAssetsToItems</label>
        <locationX>981</locationX>
        <locationY>456</locationY>
        <collectionReference>colAssetCreateCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decMatching</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopOrderItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOrderItems</name>
        <label>loopOrderItems</label>
        <locationX>724</locationX>
        <locationY>458</locationY>
        <collectionReference>getOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopMatchAssetsToItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopUpdateAndCreateAssets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopUpdateAndCreateAssets</name>
        <label>loopUpdateAndCreateAssets</label>
        <locationX>726</locationX>
        <locationY>891</locationY>
        <collectionReference>getOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decEmptyOrAssetFound</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAsset_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopUpdateAssetLoop</name>
        <label>loopUpdateAssetLoop</label>
        <locationX>730</locationX>
        <locationY>1297</locationY>
        <collectionReference>colAssetCreateCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopUpdateOrderItemLoop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateOrderItem_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopUpdateOrderItemLoop</name>
        <label>loopUpdateOrderItemLoop</label>
        <locationX>1161</locationX>
        <locationY>1283</locationY>
        <collectionReference>colOrderItemsOfAssetCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decMatchFound</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createAsset</name>
        <label>createAsset</label>
        <locationX>419</locationX>
        <locationY>1283</locationY>
        <connector>
            <targetReference>loopUpdateAssetLoop</targetReference>
        </connector>
        <inputReference>colAssetCreateCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAssets</name>
        <label>getAssets</label>
        <locationX>707</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>1 AND (2 OR 3 )</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOrderItems.ShipToAccount__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageEndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.EffectiveDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderItems</name>
        <label>getOrderItems</label>
        <locationX>242</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAssetsFromOrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAsset_0</name>
        <label>updateAsset</label>
        <locationX>422</locationX>
        <locationY>901</locationY>
        <connector>
            <targetReference>createAsset</targetReference>
        </connector>
        <inputReference>colAssetCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderItem_0</name>
        <label>updateOrderItem</label>
        <locationX>412</locationX>
        <locationY>1556</locationY>
        <inputReference>colOrderItemUpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>109</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOrderItems</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>colAssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colAssetCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <description>This collection holds the Order Items of which the Assets are going to be newly created. We need to update these items later.</description>
        <name>colOrderItemsOfAssetCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>colOrderItemUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>colShipto</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>debugInputOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Holds 1 record to be created</description>
        <name>varAssetCreateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriceBookSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShipToList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
