force-app/main/default/flows/easteregg.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assignInitialCounter</name>
        <label>assignInitialCounter</label>
        <locationX>416</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>varScreenCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.eecounter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decWhatDayIsIt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignScreenCounter</name>
        <label>assignScreenCounter</label>
        <locationX>1005</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>varScreenCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateUser</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decWhatDayIsIt</name>
        <label>decWhatDayIsIt</label>
        <locationX>561</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>gotoNormalSalesOrderProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>foolsday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <dateValue>2021-04-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.eecounter__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCongrats</targetReference>
            </connector>
            <label>fools day</label>
        </rules>
    </decisions>
    <interviewLabel>easteregg {!$Flow.CurrentDateTime}</interviewLabel>
    <label>easteregg</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateUser</name>
        <label>updateUser</label>
        <locationX>1013</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>gotoNormalSalesOrderProcess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>eecounter__c</field>
            <value>
                <elementReference>varScreenCounter</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>screenCongrats</name>
        <label>screenCongrats</label>
        <locationX>660</locationX>
        <locationY>315</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screenFools</targetReference>
        </connector>
        <fields>
            <name>textCongratulations</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 36px;&quot;&gt;CONGRATULATIONS!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are the &lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;1.000.000&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; visitor on this site! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please click next to pick up your price!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>confetti</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confettiEffect</name>
                <value>
                    <stringValue>Winner</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenFools</name>
        <label>screenFools</label>
        <locationX>820</locationX>
        <locationY>323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignScreenCounter</targetReference>
        </connector>
        <fields>
            <name>textAprilFools</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(202, 25, 25); font-size: 48px;&quot;&gt;&lt;u&gt;APRIL FOOLS!!!&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>assignInitialCounter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>gotoNormalSalesOrderProcess</name>
        <label>gotoNormalSalesOrderProcess</label>
        <locationX>1015</locationX>
        <locationY>79</locationY>
        <flowName>CreateSalesOrderv2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>inputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScreenCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
