force-app/main/default/flows/Event_Before_Save_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Shipping_Information</name>
        <label>Assign Shipping Information</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountSchoolNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.CustomerNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks if the WhatId starts with 001 (Account), 006 (Opportunity) Or the WhoId starts with 003 (Contact)</description>
        <name>WhatID_starts_001_006_OR_WhoId_003</name>
        <label>WhatID starts 001, 006 OR WhoId 003</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountContactOpportunity</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CustomerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_Information</targetReference>
            </connector>
            <label>Account,Contact,Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LocationFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.ShippingStreet} &amp; &quot;, &quot; &amp; {!$Record.Account.ShippingPostalCode} &amp; &quot;, &quot; &amp; {!$Record.Account.ShippingCity}</expression>
    </formulas>
    <interviewLabel>Event - Before Save Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Before Save Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhatID_starts_001_006_OR_WhoId_003</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
