force-app/main/default/flows/Extract_MetaData.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Export_MetaData</name>
        <label>Export MetaData</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <actionName>GetMetaDataCalloutFields_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Batch_Job</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Export_AWS_Callout_Fields_MetaData</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <outputParameters>
            <assignToReference>batchId</assignToReference>
            <name>batchId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Batch_is_done</name>
        <label>Batch is done?</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Navigate_to_file</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesBatchDone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Batch_Job.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_File</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>File_has_been_found</name>
        <label>File has been found?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_File</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_file</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Extract MetaData {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Extract AWSCalloutFields MetaData</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Batch_Job</name>
        <label>Get Batch Job</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Batch_is_done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>batchId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsyncApexJob</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File</name>
        <label>Get File</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>File_has_been_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>METADATA EXTRACTION_</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Navigate_to_file</name>
        <label>Copy 1 of Navigate to file</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_exportDisplay</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;The CSV has been created.&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;Click &lt;a href=&quot;/lightning/o/ContentDocument/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;user-select: auto;&quot;&gt;here&lt;/a&gt; to navigate to the file list.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Export_AWS_Callout_Fields_MetaData</name>
        <label>Copy 2 of Export AWS Callout Fields MetaData</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_exportDisplay</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Something went wrong in the GetMetaDataCalloutFields apex class.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Export_AWS_Callout_Fields_MetaData</name>
        <label>Export AWS Callout Fields MetaData</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Export_MetaData</targetReference>
        </connector>
        <fields>
            <name>exportDisplay</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Clicking &apos;Next&apos; will export the AWSCalloutFields metadata as a .csv that can be viewed/downloaded from the &apos;Files&apos; tab.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_file</name>
        <label>Navigate to file</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_exportDisplay</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;The CSV has been created. &lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;Click &lt;a href=&quot;/{!Get_File.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;user-select: auto;&quot;&gt;here&lt;/a&gt; to navigate to the file.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Export_AWS_Callout_Fields_MetaData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>batchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
