force-app/main/default/flows/General_Account_Handler_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>UTIL_DoNothing</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Update_Account_with_Location_RecordType</name>
        <label>Update Account with Location RecordType</label>
        <locationX>1634</locationX>
        <locationY>1607</locationY>
        <actionName>ACC_AccountHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Account_with_Location_RecordType_0</name>
        <label>Update Account with Location RecordType</label>
        <locationX>3658</locationX>
        <locationY>1031</locationY>
        <actionName>ACC_AccountHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Customer_Discount_Group</name>
        <label>Set Customer Discount Group</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Author</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Discount_Group_0</name>
        <label>Set Customer Discount Group</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Company</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Discount_Group_0_0</name>
        <label>Set Customer Discount Group</label>
        <locationX>842</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Educational Institution</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Discount_Group_0_0_0</name>
        <label>Set Customer Discount Group</label>
        <locationX>1106</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Government Agency</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Discount_Group_0_0_0_0</name>
        <label>Set Customer Discount Group</label>
        <locationX>1370</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Library</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Discount_Group_0_0_0_0_0</name>
        <label>Set Customer Discount Group</label>
        <locationX>1634</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Discount_Group_0_0_0_0_0_0</name>
        <label>Set Customer Discount Group</label>
        <locationX>1898</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Private Individual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Discount_Group_0_0_0_0_0_0_0</name>
        <label>Set Customer Discount Group</label>
        <locationX>2162</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reseller</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Discount_Group_0_0_0_0_0_0_0_0</name>
        <label>Set Customer Discount Group</label>
        <locationX>2426</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>School Group</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Discount_Group_0_0_0_0_0_0_0_0_0</name>
        <label>Set Customer Discount Group</label>
        <locationX>2690</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trade Regular</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Discount_Group_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Customer Discount Group</label>
        <locationX>2954</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerDiscountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trade Bookstore</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Indication_Rule_0</name>
        <label>Set Shipping Indication Rule</label>
        <locationX>1986</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingCostMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingIndicationRule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agodi_Location_Check</name>
        <label>Location Check</label>
        <locationX>1766</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchoolType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExternalDatabase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Agodi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_with_Location_RecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agodi_Location_Check_0</name>
        <label>Location Check</label>
        <locationX>3790</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchoolType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExternalDatabase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Agodi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_with_Location_RecordType_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Category_Discount_Group</name>
        <label>Check Customer Category &amp; Discount Group</label>
        <locationX>2580</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Discount_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CustomerDiscountGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_Customer_Category</targetReference>
            </connector>
            <label>Customer Discount Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Shipping_Address_was_Set_or_Changed</name>
        <label>Check if Shipping Address was Set or Changed</label>
        <locationX>2118</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>What_Shall_be_Executed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Indication_Rule_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Customer_Category</name>
        <label>What is Customer Category?</label>
        <locationX>1766</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Author</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Author</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group</targetReference>
            </connector>
            <label>Author</label>
        </rules>
        <rules>
            <name>Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group_0</targetReference>
            </connector>
            <label>Company</label>
        </rules>
        <rules>
            <name>Educational_Inst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Educational Institution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group_0_0</targetReference>
            </connector>
            <label>Educational Inst</label>
        </rules>
        <rules>
            <name>Gov_Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government Agency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group_0_0_0</targetReference>
            </connector>
            <label>Gov Agency</label>
        </rules>
        <rules>
            <name>Library</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Library</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group_0_0_0_0</targetReference>
            </connector>
            <label>Library</label>
        </rules>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group_0_0_0_0_0</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>Private_Indiv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Private Indiv</label>
        </rules>
        <rules>
            <name>Reseller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Reseller</label>
        </rules>
        <rules>
            <name>School_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>School Group</label>
        </rules>
        <rules>
            <name>Trade_Regular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Regular</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Trade Regular</label>
        </rules>
        <rules>
            <name>Trade_Bookstore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Bookstore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Discount_Group_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Trade Bookstore</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Shall_be_Executed</name>
        <label>What Shall be Executed?</label>
        <locationX>2118</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stop_on_Agodi_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AgodiUpdateInProgress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Nothing</targetReference>
            </connector>
            <label>Stop on Agodi Update</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Customer_Category_Discount_Group</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agodi_Location_Check_0</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <description>Migration from PB to Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>ShippingIndicationRule</name>
        <dataType>String</dataType>
        <expression>IF( 
    TEXT({!$Record.OperatingCompany__c}) = &apos;Plantyn&apos;,
        IF({!$Record.ShippingCountry} = &apos;Belgium&apos;,
        &apos;Based on weight Domestic&apos;,
        &apos;Based on weight non Domestic&apos;), 
    IF(TEXT({!$Record.OperatingCompany__c}) = &apos;Noordhoff&apos;,
        IF({!$Record.ShippingCountry} = &apos;Netherlands&apos;,
            &apos;Based on weight Domestic&apos;,
            &apos;Based on weight non Domestic&apos;),
        IF(TEXT({!$Record.OperatingCompany__c}) = &apos;Liber&apos;,
            IF({!$Record.ShippingCountry} = &apos;Sweden&apos;,
                &apos;Based on weight Domestic&apos;,
                &apos;Based on weight non Domestic&apos;),
            &apos;&apos;
        )
    )
)</expression>
    </formulas>
    <interviewLabel>General Account Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>General Account Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1766</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Agodi_Location_Check</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0</name>
        <label>Update Account</label>
        <locationX>1986</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>What_Shall_be_Executed</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1992</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Shipping_Address_was_Set_or_Changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
