force-app/main/default/flows/ImportProductHandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Error</name>
        <label>Error</label>
        <locationX>572</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to insert product</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Product_Already_Exists</name>
        <label>Product Already Exists</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TrueProductExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Import Product Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Product Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product</name>
        <label>Create Product</label>
        <locationX>308</locationX>
        <locationY>398</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ArticleGroupName__c</field>
            <value>
                <elementReference>ImportedProduct.ArticleGroupName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AvailabilityStatus__c</field>
            <value>
                <elementReference>ImportedProduct.AvailabilityStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AvailabilityText__c</field>
            <value>
                <elementReference>ImportedProduct.Availability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>ImportedProduct.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EAN__c</field>
            <value>
                <elementReference>ImportedProduct.EANCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EditionID__c</field>
            <value>
                <elementReference>ImportedProduct.EditionID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EditionNumber__c</field>
            <value>
                <elementReference>ImportedProduct.EditionNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISBN__c</field>
            <value>
                <elementReference>ImportedProduct.ISBN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImpressionID__c</field>
            <value>
                <elementReference>ImportedProduct.ImpressionID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>ImportedProduct.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ImportedProduct.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductCode</field>
            <value>
                <elementReference>ImportedProduct.TitleID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projectnumber__c</field>
            <value>
                <elementReference>ImportedProduct.ProjectNoEdition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicationDate__c</field>
            <value>
                <elementReference>ImportedProduct.PublicationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublishingHouseDepartment__c</field>
            <value>
                <elementReference>ImportedProduct.PublishingHouseDepartment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublishingHouse__c</field>
            <value>
                <elementReference>ImportedProduct.PublishingHouse__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShortTitle__c</field>
            <value>
                <elementReference>ImportedProduct.ShortTitle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>ImportedProduct.PublishingHouse__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.TitleID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ISBN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.ISBN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EAN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.EANCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EditionID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.EditionID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.Title__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ImportedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportProduct__c</objectType>
    </variables>
</Flow>
