force-app/main/default/flows/Import_Order_Handler_Get_Address_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_Address</name>
        <label>Validate Address</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <actionName>AddressImportOrderInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenumber</name>
            <value>
                <elementReference>var_HouseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenumberAddition</name>
            <value>
                <elementReference>var_HouseNumberAddition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalcode</name>
            <value>
                <elementReference>formattedPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>var_Street</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Created_Address</name>
        <label>Assign Created Address</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_AddressIdOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Allow_Address_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Found_Address</name>
        <label>Assign Found Address</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_AddressIdOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Address_Validated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Validated_True</name>
        <label>Assign Validated True</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_AddressValidatedStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Allow_Address_Validation</name>
        <label>Allow Address Validation</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Allow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Label.ValidateAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Validate_Address</targetReference>
            </connector>
            <label>Yes Allow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Allow_Address_Validation</name>
        <label>Allow Address Validation</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Allow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.ValidateAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Address</targetReference>
            </connector>
            <label>Yes Allow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Address</name>
        <label>Found Address</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_New_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Address_Validated</name>
        <label>Is Address Validated</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Allow_Address_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Validated</defaultConnectorLabel>
        <rules>
            <name>Validated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Address.rv2Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GREEN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Address.Validated_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Validated_True</targetReference>
            </connector>
            <label>Validated</label>
        </rules>
    </decisions>
    <description>This flow queries the custom address, verifies if it can find a match. If not it creates &amp; validates a new address if no match is found</description>
    <environments>Default</environments>
    <formulas>
        <description>Street + HouseNumber + HouseNUmberAddition + PostalCode + Country</description>
        <name>form_AddressLabel</name>
        <dataType>String</dataType>
        <expression>{!var_Street}&amp;&apos; &apos;&amp;{!var_HouseNumber}&amp;{!var_HouseNumberAddition}&amp; &quot;, &quot;&amp;{!var_PostalCode}&amp;&quot;, &quot;&amp;{!var_Country}</expression>
    </formulas>
    <formulas>
        <description>Set City value to upper case</description>
        <name>formattedCity</name>
        <dataType>String</dataType>
        <expression>IF({!var_Country} = &quot;Netherlands&quot;, UPPER({!var_City}), {!var_City})</expression>
    </formulas>
    <formulas>
        <name>formattedHouseNumberAddition</name>
        <dataType>String</dataType>
        <expression>TRIM(UPPER({!var_HouseNumberAddition}))</expression>
    </formulas>
    <formulas>
        <description>Removed whitespaces</description>
        <name>formattedPostalCode</name>
        <dataType>String</dataType>
        <expression>UPPER(TRIM(SUBSTITUTE({!var_PostalCode}, &quot; &quot;, &quot;&quot;)))</expression>
    </formulas>
    <interviewLabel>Import Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Order Handler Get Address Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Address</name>
        <label>Create New Address</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_Created_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>formattedCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNumberAddition__c</field>
            <value>
                <elementReference>var_HouseNumberAddition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNumber__c</field>
            <value>
                <elementReference>var_HouseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>form_AddressLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>var_OperatingCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>var_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>var_Street</elementReference>
            </value>
        </inputAssignments>
        <object>ILAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Address</name>
        <label>Get Address</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HouseNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_HouseNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumberAdditionFormatted__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formattedHouseNumberAddition</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCodeFormatted__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formattedPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OperatingCompany</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ILAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AddressIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AddressValidatedStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HouseNumberAddition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OperatingCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
