force-app/main/default/flows/ImportOrderHandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ImportOrderItemGroupCreate</name>
        <label>ImportOrderItemGroupCreate</label>
        <locationX>4483</locationX>
        <locationY>1660</locationY>
        <actionName>Order_ImportOrderItemGroupCreate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_NetSuiteRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ImportOrder</name>
            <value>
                <elementReference>sov_NetsuiteOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SingleOrderItems</name>
            <value>
                <elementReference>sov_OrderItem</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>sov_NetsuiteOrder</assignToReference>
            <name>ImportOrder</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ImportOrderItemGroupUpdate</name>
        <label>ImportOrderItemGroupUpdate</label>
        <locationX>4712</locationX>
        <locationY>1807</locationY>
        <actionName>Order_ImportOrderItemGroupUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_NetSuiteRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ImportOrder</name>
            <value>
                <elementReference>sov_NetsuiteOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SingleOrderItems</name>
            <value>
                <elementReference>sov_OrderItem</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>sov_NetsuiteOrder</assignToReference>
            <name>ImportOrder</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SuccessorUpdate</name>
        <label>SuccessorUpdate</label>
        <locationX>4091</locationX>
        <locationY>111</locationY>
        <actionName>Order_ImportOrderSuccessorUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Source</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ImportOrder</name>
            <value>
                <elementReference>sov_NetsuiteOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SingleOrderItems</name>
            <value>
                <elementReference>sov_OrderItem</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>sov_OrderItem</assignToReference>
            <name>SingleOrderItems</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_Updated_Import_Orders</name>
        <label>Add to Updated Import Orders</label>
        <locationX>5539</locationX>
        <locationY>2758</locationY>
        <assignmentItems>
            <assignToReference>varImportOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Import_Order_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Import_Order_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assB2BDiscount</name>
        <label>assB2BDiscount</label>
        <locationX>4985</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ManualDiscountPercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.discountRate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ManualDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-Off Percentage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assBillingAddress</name>
        <label>assBillingAddress</label>
        <locationX>4133</locationX>
        <locationY>3679</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.BillingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.BillingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.BillingCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.BillingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decShipByDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assGetAccShippingAddress</name>
        <label>assGetAccShippingAddress</label>
        <locationX>3492</locationX>
        <locationY>3363</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_DeliveryLocation.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_DeliveryLocation.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingState</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_DeliveryLocation.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_DeliveryLocation.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decBillingAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BEX_Order_Type</name>
        <label>Assign BEX Order Type</label>
        <locationX>4598</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.OrderLineType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inspection Copy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bill_to_Ship_To_Error</name>
        <label>Assign Bill to Ship To Error</label>
        <locationX>3051</locationX>
        <locationY>2434</locationY>
        <assignmentItems>
            <assignToReference>BilltoShiptoErrorVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bill to/ Ship to value cannot be empty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CreatedAccount_to_OrderAccount</name>
        <label>Created to OrderAccount</label>
        <locationX>1216</locationX>
        <locationY>2448</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Private_Individual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Use_Import_Order_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_Order_Type</name>
        <label>Assign empty Order Type</label>
        <locationX>5143</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.OrderLineType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Import_Location</name>
        <label>Assign Invoice Import Location</label>
        <locationX>1912</locationX>
        <locationY>2857</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.Billto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_ImportOrderInvoiceLocation.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Import_Order_Shipping_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Location</name>
        <label>Assign Invoice Location</label>
        <locationX>2130</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.Billto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_InvoiceLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Import_Order_Shipping_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Variables</name>
        <label>Assign Order Variables</label>
        <locationX>2721</locationX>
        <locationY>3574</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.EffectiveDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_PriceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderTypeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ExternalOrderId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ExternalOrderId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.CustomerReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_OrderRef</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.PricingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderProductQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCostMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.ShippingCostMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingIndicationRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ShippingCostfromNSId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.LineItemShipping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.LineItemShipping__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ForTheAttentionOf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billToAttentionOfFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.shipToAttentionOf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shipToAttentionOfFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderImportLineCountSent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.LineCount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShipbyDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ShippingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.TriggerBusinessRules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.PaymentMethodType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.PaymentMethodType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.PaymentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.PaymentStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.SwellId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.SwellId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.StripeId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.StripeId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.PaymentPaid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.Paid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ShippingCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.WarehouseReferenceActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.WarehouseReferenceActive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.WarehouseReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.WarehouseReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.MultipleShippingLocations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.LineItemShipping__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.DepositAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.DepositAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCostExempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.ShippingCostExempt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderImportShippingCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ShippingCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderImportAmountExclVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.AmountExclVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderImportTotalLineQuantities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.TotalLineCountQuantities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.shipImmediately__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ShipImmediately__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.Invoicenote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.InvoiceNote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.CourierInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.CourierInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.Courier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.Courier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.CourierWholeSalerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.CourierWholeSalerId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.DeliveryRouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.DeliveryRouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.PalletRegistrationNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.PalletRegistrationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderedByFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderedByLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderedByEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.UserEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderedBySchoolNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.SchoolNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.CustomerOrderType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.customerOrderType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.PaymentCreationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.PaymentCreationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.DeliveryPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formDeliveryPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.DeliveryEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formDeliveryEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.DUDOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.DUDOrder__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOrderPricingMethodMdt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OrderItem_Completed</name>
        <label>Assign OrderItem Completed</label>
        <locationX>4718</locationX>
        <locationY>1192</locationY>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderItem.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.OrderProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decItemGroupComponentCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OrderItem_Variables</name>
        <label>Assign OrderItem Variables</label>
        <locationX>4122</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_PriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ShipToAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Shipto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ShippingIndicationRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ShippingCostfromNSId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.NetSuiteIdBilltoAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Billto__r.NetsuiteInternalId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.NetSuiteIdShiptoAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Shipto__r.NetsuiteInternalId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.NetsuiteQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.orderImportNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ProductType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Product.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.DigitalActivationEMail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.DigitalActivationEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.OrderLineType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.LineItemType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ShippingMethodNetsuiteId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ShippingCostMethodNsId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.CustomerReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_OrderItemRef</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ShipToAttentionOf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ShiptoFortheAttentionof__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.addressLine1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.Postalcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.Renewable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Product.Renewable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.OrderImportLineTotal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.LineItemTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.OrderImportVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItemTotalVAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ProductMaxQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Product.maxQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ImportItemGroupEAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.itemGroupId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUD_Depot_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Import_Location</name>
        <label>Assign Shipping Import Location</label>
        <locationX>2200</locationX>
        <locationY>3366</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.Shipto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_ImportOrderShippingLocation.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bill_To_and_Ship_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Location</name>
        <label>Assign Shipping Location</label>
        <locationX>2313</locationX>
        <locationY>3385</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.Shipto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_DeliveryLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bill_To_and_Ship_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ShippingCostExempt</name>
        <label>Assign ShippingCostExempt</label>
        <locationX>4550</locationX>
        <locationY>2712</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCostExempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Block_Auto_Activate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Standard_Order_Type</name>
        <label>Assign Standard Order Type</label>
        <locationX>4765</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.OrderLineType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignB2BEmail</name>
        <label>assignB2BEmail</label>
        <locationX>4576</locationX>
        <locationY>3018</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.BillingReminderEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderBillingEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderNotificationEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderEmailNotification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.InvoiceEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderInvoiceEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderNotificationEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderNotificationEmail2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decPaymentMethod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignComlpete_Order</name>
        <label>AssignComlpete Order</label>
        <locationX>4313</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NetSuiteRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignComponentListPrice</name>
        <label>AssignComponentListPrice</label>
        <locationX>4345</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ComponentListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.NetSalesPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_OrderItem_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignItemGroupBlockError</name>
        <label>AssignItemGroupBlockError</label>
        <locationX>4180</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Item Group Manually Blocked</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NetSuiteRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNotificationEmailNonB2BShop</name>
        <label>assignNotificationEmailNonB2BShop</label>
        <locationX>3989</locationX>
        <locationY>3116</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.OrderNotificationEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderEmailNotification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.BillingReminderEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderBillingEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.InvoiceEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderInvoiceEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.OrderNotificationEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderNotificationEmail2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decPaymentMethod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpCoPB</name>
        <label>AssignOpCoPB</label>
        <locationX>2101</locationX>
        <locationY>1698</locationY>
        <assignmentItems>
            <assignToReference>PricebookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPricebookOperatingCompany.Pricebook__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPaymentMethod</name>
        <label>assignPaymentMethod</label>
        <locationX>4112</locationX>
        <locationY>2888</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prepayment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CourierWholeSalerID_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPBOverride</name>
        <label>AssignPBOverride</label>
        <locationX>1789</locationX>
        <locationY>1686</locationY>
        <assignmentItems>
            <assignToReference>PricebookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.PricebookOverride__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPricebookError</name>
        <label>AssignPricebookError</label>
        <locationX>3308</locationX>
        <locationY>1321</locationY>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Does not exist in Pricebook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NetSuiteRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPricebookError2</name>
        <label>AssignPricebookError2</label>
        <locationX>3833</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product is inactive on Pricebook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NetSuiteRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPricingMethodDefault</name>
        <label>assignPricingMethodDefault</label>
        <locationX>2879</locationX>
        <locationY>3187</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.PricingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOrderPricingMdt.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderPricingMdt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPricingMethodDiscountGroup</name>
        <label>assignPricingMethodDiscountGroup</label>
        <locationX>2961</locationX>
        <locationY>3058</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.PricingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOrderPricingMdt.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B2BSalesforceOrderActivate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignShipbyDate</name>
        <label>assignShipbyDate</label>
        <locationX>4528</locationX>
        <locationY>3472</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.ShipbyDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decNotificationEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignShipbyDateToEffectiveDate</name>
        <label>assignShipbyDateToEffectiveDate</label>
        <locationX>4767</locationX>
        <locationY>3440</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.ShipbyDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.EffectiveDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decNotificationEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWaitingStatus</name>
        <label>assignWaitingStatus</label>
        <locationX>976</locationX>
        <locationY>2286</locationY>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting Account NetsuiteId</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NetSuiteRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assOrderNotFound</name>
        <label>assOrderNotFound</label>
        <locationX>3442</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Order Found for the provided reference</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NetSuiteRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assShippingAddres</name>
        <label>assShippingAddres</label>
        <locationX>3506</locationX>
        <locationY>3743</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.addressLine1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.Postalcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decBillingAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>B2BDirectPaymentAssignment</name>
        <label>B2B DirectPayment</label>
        <locationX>4780</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.NetSalesPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>B2BInvoiceAssignment</name>
        <label>B2B Invoice</label>
        <locationX>4542</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.NetSalesPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ManualDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-Off Amount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ManualDiscountValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_ManualDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.TotalDiscountAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_TotalDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>B2BSalesforceBatchActivate</name>
        <label>B2B Salesforce Batch Activate</label>
        <locationX>3056</locationX>
        <locationY>3476</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.ActivateforBatchProcessing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decShippingAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_ship_to</name>
        <label>Default ship to</label>
        <locationX>1911</locationX>
        <locationY>3637</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.Shipto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_DeliveryLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bill_To_and_Ship_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_ship_to_0</name>
        <label>Default ship to</label>
        <locationX>3326</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ShipToAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_ItemShiptoAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessorUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefaultInvoice</name>
        <label>Default Invoice</label>
        <locationX>1719</locationX>
        <locationY>3046</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.Billto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_InvoiceLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Delivery_Location_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error</name>
        <label>Error</label>
        <locationX>3440</locationX>
        <locationY>2048</locationY>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NetSuiteRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invoice</name>
        <label>Invoice</label>
        <locationX>1107</locationX>
        <locationY>3088</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.Billto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Delivery_Location_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ComponentListPrice_DUD</name>
        <label>Set ComponentListPrice - DUD</label>
        <locationX>3886</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ComponentListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_dud_customPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_dud_customPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_manual_discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_rate</name>
        <label>Set Discount rate</label>
        <locationX>3629</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ManualDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-Off Percentage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ManualDiscountPercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.discountRate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_dud_DiscountRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessorUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_value</name>
        <label>Set Discount value</label>
        <locationX>3999</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ManualDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-Off Amount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.ManualDiscountValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.DiscountValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_dud_DiscountValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessorUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_External_OrderId</name>
        <label>Set New External OrderId</label>
        <locationX>572</locationX>
        <locationY>1173</locationY>
        <assignmentItems>
            <assignToReference>sov_NetsuiteOrder.ExternalOrderId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>correctedOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_or_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Order Activate Order = true if any blocks needed for gen2 in future</description>
        <name>Set_Override_Auto_Activate</name>
        <label>Set Override Auto Activate</label>
        <locationX>4439</locationX>
        <locationY>2397</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.OrderActivateOverride__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ActivateforBatchProcessing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReadyForPrivateIndividual</name>
        <label>SetReadyForPrivateIndividual</label>
        <locationX>5528</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>Loop_Import_Order_Lines.ReadyForPrivateIndividual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Import_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ship_to</name>
        <label>Ship to</label>
        <locationX>1911</locationX>
        <locationY>3531</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.Shipto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_OrderAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bill_To_and_Ship_To</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_manual_discounts</name>
        <label>Are there manual discounts?</label>
        <locationX>3878</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>SuccessorUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_Rate</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.discountRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.DiscountValue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.discountRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.DiscountValue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discount_rate</targetReference>
            </connector>
            <label>Discount Rate</label>
        </rules>
        <rules>
            <name>Discount_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.discountRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.DiscountValue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discount_value</targetReference>
            </connector>
            <label>Discount Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>B2BSalesforceOrderActivate</name>
        <label>B2B Salesforce Order Activate</label>
        <locationX>2953</locationX>
        <locationY>3722</locationY>
        <defaultConnector>
            <targetReference>decShippingAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>B2BSalesforcetrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2BSalesforceBatchActivate</targetReference>
            </connector>
            <label>B2B Salesforce true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bill_To_and_Ship_To</name>
        <label>Bill To and Ship To</label>
        <locationX>2422</locationX>
        <locationY>3569</locationY>
        <defaultConnector>
            <targetReference>Assign_Order_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Bill_to_Ship_to_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_Order.Shipto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Order.Billto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bill_to_Ship_To_Error</targetReference>
            </connector>
            <label>Bill to Ship to Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>This previously blocked orders for activation where Activation Block Source is NOT null (for gen2 orders). We&apos;re removing this block now.</description>
        <name>Block_Auto_Activate</name>
        <label>Block Auto Activate-GEN2</label>
        <locationX>4412</locationX>
        <locationY>2615</locationY>
        <defaultConnector>
            <targetReference>Create_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.ActivationBlockSource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Override_Auto_Activate</targetReference>
            </connector>
            <label>Yes Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_notification_emails</name>
        <label>Check notification emails</label>
        <locationX>4403</locationX>
        <locationY>3806</locationY>
        <defaultConnector>
            <targetReference>ImportOrderHasEffectiveDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderEmailNotification</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>OrderNotificationEmail2</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ImportOrderHasEffectiveDate</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>CourierWholeSalerID_Populated</name>
        <label>CourierWholeSalerID Populated</label>
        <locationX>4293</locationX>
        <locationY>2734</locationY>
        <defaultConnector>
            <targetReference>Block_Auto_Activate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_ShippingCostExempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Order.CourierWholeSalerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Order.ShippingCostExempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ShippingCostExempt</targetReference>
            </connector>
            <label>Set ShippingCostExempt</label>
        </rules>
    </decisions>
    <decisions>
        <name>decBillingAddress</name>
        <label>decBillingAddress</label>
        <locationX>3823</locationX>
        <locationY>3517</locationY>
        <defaultConnector>
            <targetReference>decShipByDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BillingAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.BillingStreet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assBillingAddress</targetReference>
            </connector>
            <label>BillingAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCheckifBussinessLogicTRue</name>
        <label>decCheckifBussinessLogicTRue</label>
        <locationX>4673</locationX>
        <locationY>2068</locationY>
        <defaultConnector>
            <targetReference>Is_PrivateIndividual_Import</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Runbusinesslogic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.TriggerBusinessLogic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatB2BTriggerBusinesslogic</targetReference>
            </connector>
            <label>Runbusinesslogic</label>
        </rules>
    </decisions>
    <decisions>
        <name>decDiscontinuedProduct</name>
        <label>decDiscontinuedProduct</label>
        <locationX>3814</locationX>
        <locationY>1122</locationY>
        <defaultConnector>
            <targetReference>AssignPricebookError2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDiscontinued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Product.DeliveryStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discontinued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decIsBlockedItemGroup</targetReference>
            </connector>
            <label>isDiscontinued</label>
        </rules>
    </decisions>
    <decisions>
        <name>decInvoiceLocation</name>
        <label>decInvoiceLocation</label>
        <locationX>1360</locationX>
        <locationY>2895</locationY>
        <defaultConnector>
            <targetReference>Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InvoiceLoactionExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.invoiceIdLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_InvoiceLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DefaultInvoice</targetReference>
            </connector>
            <label>InvoiceLoactionExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsBlockedItemGroup</name>
        <label>decIsBlockedItemGroup</label>
        <locationX>4169</locationX>
        <locationY>922</locationY>
        <defaultConnector>
            <targetReference>ItemGroupProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsBlockedItemGroupcheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Product.itemGroupManualBlock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignItemGroupBlockError</targetReference>
            </connector>
            <label>IsBlockedItemGroupcheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>decItemGroupComponentCheck</name>
        <label>decItemGroupComponentCheck</label>
        <locationX>4707</locationX>
        <locationY>1422</locationY>
        <defaultConnector>
            <targetReference>ImportOrderItemGroupUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkrequired</name>
            <conditionLogic>1 OR 2 OR 3 OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B Shop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>eCommerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.ItemGroupCreationRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImportOrderItemGroupCreate</targetReference>
            </connector>
            <label>checkrequired</label>
        </rules>
    </decisions>
    <decisions>
        <name>decNotificationEmail</name>
        <label>decNotificationEmail</label>
        <locationX>4310</locationX>
        <locationY>3208</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotB2BShopNotification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>B2B Shop </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignNotificationEmailNonB2BShop</targetReference>
            </connector>
            <label>Not B2B Shop Notification</label>
        </rules>
        <rules>
            <name>B2B_Shop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B Shop </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignB2BEmail</targetReference>
            </connector>
            <label>B2B Shop</label>
        </rules>
    </decisions>
    <decisions>
        <name>decPaymentMethod</name>
        <label>decPaymentMethod</label>
        <locationX>4364</locationX>
        <locationY>2952</locationY>
        <defaultConnector>
            <targetReference>CourierWholeSalerID_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PaidTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.PaymentMethodType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>bancontact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPaymentMethod</targetReference>
            </connector>
            <label>PaidTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decShipByDate</name>
        <label>decShipByDate</label>
        <locationX>4308</locationX>
        <locationY>3611</locationY>
        <defaultConnector>
            <targetReference>decNotificationEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsBlank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_Order.ShipbyDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Order.ShipbyDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_notification_emails</targetReference>
            </connector>
            <label>IsBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>decShippingAddress</name>
        <label>decShippingAddress</label>
        <locationX>3300</locationX>
        <locationY>3536</locationY>
        <defaultConnector>
            <targetReference>decBillingAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ShippingAddress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.addressLine1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.LineItemShipping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assShippingAddres</targetReference>
            </connector>
            <label>ShippingAddress</label>
        </rules>
        <rules>
            <name>GetDeliveryLocationAddress</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>sov_DeliveryLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_ImportOrderShippingLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.deliveryIdLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assGetAccShippingAddress</targetReference>
            </connector>
            <label>GetDeliveryLocationAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>decTradeShipto</name>
        <label>decTradeShipto</label>
        <locationX>3599</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>SuccessorUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>getTradeShipto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Trade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.deliveryIdLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sov_ItemShiptoAccount</targetReference>
            </connector>
            <label>getTradeShipto</label>
        </rules>
    </decisions>
    <decisions>
        <name>DUD_Depot_Order</name>
        <label>DUD/Depot Order</label>
        <locationX>4114</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>SuccessorUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_DUD_DepotOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Depot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ComponentListPrice_DUD</targetReference>
            </connector>
            <label>Is DUD/Depot Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Discount_Group_Pricing_Method</name>
        <label>Found Discount Group Pricing Method</label>
        <locationX>2634</locationX>
        <locationY>3061</locationY>
        <defaultConnector>
            <targetReference>LoopOrderPricingMdt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_Group_Pricing_Method</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrderPricingMdt.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sov_InvoiceLocation.CustomerDiscountGroup__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPricingMethodDiscountGroup</targetReference>
            </connector>
            <label>Discount Group Pricing Method</label>
        </rules>
        <rules>
            <name>Pricing_Method_Deault</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrderPricingMdt.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPricingMethodDefault</targetReference>
            </connector>
            <label>Pricing Method Deault</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fount_Order</name>
        <label>Fount Order</label>
        <locationX>2797</locationX>
        <locationY>1495</locationY>
        <defaultConnector>
            <targetReference>Get_PriceBookEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assOrderNotFound</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ImportOrder_Has_Order_Lookup</name>
        <label>ImportOrder Order Lookup</label>
        <locationX>2234</locationX>
        <locationY>852</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PrivateIndividual_Import_Order_Header.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>Has Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>ImportOrderHasEffectiveDate</name>
        <label>Import Order Has Effective Date</label>
        <locationX>4629</locationX>
        <locationY>3735</locationY>
        <defaultConnector>
            <targetReference>assignShipbyDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesImportOrderHasEffectiveDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.EffectiveDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.EffectiveDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignShipbyDateToEffectiveDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PrivateIndividual_Import</name>
        <label>Is PrivateIndividual Import</label>
        <locationX>4680</locationX>
        <locationY>2269</locationY>
        <defaultConnectorLabel>Not PrivateIndividual</defaultConnectorLabel>
        <rules>
            <name>PrivateIndividual_eCom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.customerOrderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.ProductId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.customerNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PrivateIndividual_Import_Order_Lines</targetReference>
            </connector>
            <label>PrivateIndividual eCom</label>
        </rules>
    </decisions>
    <decisions>
        <name>ItemGroupProduct</name>
        <label>ItemGroupProduct</label>
        <locationX>4338</locationX>
        <locationY>781</locationY>
        <defaultConnector>
            <targetReference>Assign_OrderItem_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasItemGroupId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.itemGroupId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>eCommerce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignComponentListPrice</targetReference>
            </connector>
            <label>Has ItemGroupId</label>
        </rules>
    </decisions>
    <decisions>
        <name>NetsuiteId_populated</name>
        <label>NetsuiteId populated</label>
        <locationX>969</locationX>
        <locationY>2448</locationY>
        <defaultConnector>
            <targetReference>assignWaitingStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Populated</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Created_Private_Individual.NetsuiteInternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreatedAccount_to_OrderAccount</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Delivery_Account</name>
        <label>No Delivery Account</label>
        <locationX>1390</locationX>
        <locationY>3542</locationY>
        <defaultConnector>
            <targetReference>Default_ship_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_DeliveryLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.deliveryIdLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ship_to</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
        <rules>
            <name>ImportOrderLocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_ImportOrderShippingLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>ImportOrderLocation</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Delivery_Account_0</name>
        <label>No Delivery Account</label>
        <locationX>3327</locationX>
        <locationY>495</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NullDeliveryAccount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_ItemShiptoAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.deliveryIdLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessorUpdate</targetReference>
            </connector>
            <label>Null Delivery Account</label>
        </rules>
        <rules>
            <name>PopulateDeliveryAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_ItemShiptoAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_ship_to_0</targetReference>
            </connector>
            <label>PopulateDeliveryAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Item_Type</name>
        <label>Order Item Type</label>
        <locationX>4745</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>Create_OrderItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.orderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Standard_Order_Type</targetReference>
            </connector>
            <label>F</label>
        </rules>
        <rules>
            <name>BEX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.orderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BEX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BEX_Order_Type</targetReference>
            </connector>
            <label>BEX</label>
        </rules>
        <rules>
            <name>EmptyOrderType</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_OrderItem.OrderLineType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_OrderItem.OrderLineType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_Order_Type</targetReference>
            </connector>
            <label>EmptyOrderType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Location_Account</name>
        <label>Order Location Account</label>
        <locationX>1905</locationX>
        <locationY>2640</locationY>
        <defaultConnector>
            <targetReference>Get_Invoice_Import_Location_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_ImportOrderInvoiceLocation.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_Import_Location</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_or_OrderItem</name>
        <label>Order or OrderItem</label>
        <locationX>951</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>UseOverridePricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Private_OrderItems</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.customerOrderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.ProductId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.customerNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.customerNo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_For_PrivateIndividual</targetReference>
            </connector>
            <label>Private OrderItems</label>
        </rules>
        <rules>
            <name>OrderItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.ProductId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>OrderItem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Shipping_Account</name>
        <label>Order Shipping Account</label>
        <locationX>2066</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Get_Shipping_Import_Location_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Has_Account_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_ImportOrderShippingLocation.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_Import_Location</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderIDcontainscharsitshouldnt</name>
        <label>OrderID contains chars it shouldnt?</label>
        <locationX>754</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>Order_or_OrderItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_OrderIdContainsSpecialChars</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.ExternalOrderId__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>.txt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_External_OrderId</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Entry</name>
        <label>Pricebook Entry</label>
        <locationX>3506</locationX>
        <locationY>937</locationY>
        <defaultConnector>
            <targetReference>Get_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Pricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_PriceBookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPricebookError</targetReference>
            </connector>
            <label>Missing Pricebook</label>
        </rules>
        <rules>
            <name>Pricebook_entry_is_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_PriceBookEntry.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Disontinued_Product</targetReference>
            </connector>
            <label>Pricebook entry is inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_For_PrivateIndividual</name>
        <label>Ready For PrivateIndividual</label>
        <locationX>1767</locationX>
        <locationY>874</locationY>
        <defaultConnector>
            <targetReference>Get_PrivateIndividual_Import_Order_Header</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ready Is False</defaultConnectorLabel>
        <rules>
            <name>Ready_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.ReadyForPrivateIndividual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>Ready Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Private_Individual</name>
        <label>Should Create Private Individual?</label>
        <locationX>1358</locationX>
        <locationY>2041</locationY>
        <defaultConnector>
            <targetReference>Use_Import_Order_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Private_Individual</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>sov_OrderAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.UserEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.customerOrderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.customerNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.customerNo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Private_Individual_Record_Type</targetReference>
            </connector>
            <label>Create Private Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source</name>
        <label>Source</label>
        <locationX>4781</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Order_Item_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>B2BShop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B Shop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Type</targetReference>
            </connector>
            <label>B2B Shop</label>
        </rules>
        <rules>
            <name>B2BTrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Trade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Type</targetReference>
            </connector>
            <label>B2B Trade</label>
        </rules>
        <rules>
            <name>EcommercewithDiscount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>eCommerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_ManualDiscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.discountRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2BInvoiceAssignment</targetReference>
            </connector>
            <label>Ecommerce with Discount</label>
        </rules>
        <rules>
            <name>EcommercenoDiscount</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.NetSalesPrice__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_ManualDiscount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_ManualDiscount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>eCommerce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2BDirectPaymentAssignment</targetReference>
            </connector>
            <label>Ecommerce no Discount</label>
        </rules>
        <rules>
            <name>B2BPercentageDiscount</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.discountRate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>eCommerce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assB2BDiscount</targetReference>
            </connector>
            <label>B2B Percentage Discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Import_Order_Location</name>
        <label>Use Import Order Location</label>
        <locationX>1537</locationX>
        <locationY>2448</locationY>
        <defaultConnector>
            <targetReference>Get_Invoice_Location_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>B2B_Shop_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.UseImportOrderLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B Shop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Import_Order_Invoice_Location</targetReference>
            </connector>
            <label>B2B Shop Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>UseOverridePricebook</name>
        <label>Use Override Pricebook</label>
        <locationX>1787</locationX>
        <locationY>1460</locationY>
        <defaultConnector>
            <targetReference>getPricebookOperatingCompany</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UseOverrideTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.PricebookOverride__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPBOverride</targetReference>
            </connector>
            <label>UseOverrideTrue</label>
        </rules>
    </decisions>
    <description>CH: 2022/08/17 Changed OrderEmailNotification formula.
DB: 2022/08/22 Added Custom Pricing Method Assign Logic.
CH: 2022/08/24 Added Courier Information Assignment.
DB: 2022/08/31 Removed the Private Individual Pause logic.
CH: 2022/09/16 Fixed logic for setting ship by date
CH: 2022/09/20 Added logic to remove .txt from external order ID
CH: 2022/09/22 Added assignment for additional courier information
CH: 2022/09/27 Now passing ImportOrder to SuccessorUpdate apex action
SP: 2022/10/11 Add Error check for inactive pricebook entries
DB : 2022/10/14 Added CourierWholeSaleId Shipping Cost Exempt assignment check and map maxQuantity from Product onto OrderProduct
DB: 2022/10/17 Removed the OrderItem Reference formula saved onto the OrderItem
CH: 2022/10/18 Added Pallet Registration Number assignment
DB: 2022/10/24 OrderItemReference assignment update
DB: 2022/11/10 Save User details (Name, Email, School Number, CustomerOrderType) to Order to see Ordered By
CH: 2022/11/30 Added in new ship to attention of and bill to attention of logic (if blank on import order, fetch from accounts)
DB: 2022/12/20 Added PaymentCreationDate mapping to Order from Order Header &amp; set block if ActivationBlockSource__c has a value
CH: 2023/02/06 Removed ActivationBlockSource__c = true (still there, just set it to false)
CH: 2023/02/20 Added delivery phone and delivery email mapping
SP: 2023/02/20 Added ImportItemGroupEAN mapping
CH: 2023/03/28 Changed OrderNotificationEmail logic and added in logic for OrderNotificationEmail2
CH: 2023/04/04 Added delivery email and phone logic
CH: 2023/04/14 Set Invoicing Frequency to Daily for Private Individuals
CH: 2023/04/18 Added DUD Order assignment
CH: 2023/04/21 Added DUD Order manual discount assignment
DB: 2023/05/31 Updates the Import Location searches on how the Account is found and assigned
CH: 2023/06/01 Changed a decision for Trade (changed an equals to Contains)</description>
    <environments>Default</environments>
    <formulas>
        <name>billToAttentionOfFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!sov_NetsuiteOrder.billtoFortheAttentionof__c}), {!sov_Order.Billto__r.billToAttentionOf__c},{!sov_NetsuiteOrder.billtoFortheAttentionof__c})</expression>
    </formulas>
    <formulas>
        <name>correctedOrderId</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!sov_NetsuiteOrder.ExternalOrderId__c}, &apos;.txt&apos;), 
SUBSTITUTE({!sov_NetsuiteOrder.ExternalOrderId__c}, &apos;.txt&apos;, &apos;&apos;)
, {!sov_NetsuiteOrder.ExternalOrderId__c})</expression>
    </formulas>
    <formulas>
        <name>debugFormula</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!sov_OrderItem.Order.Pricebook2.Name}, &quot; Informat&quot;) = false, &quot;3&quot;, &quot;2&quot;)</expression>
    </formulas>
    <formulas>
        <name>form_1MinutesFromNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime} + 1 *(1/24/60)</expression>
    </formulas>
    <formulas>
        <name>form_dud_customPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!sov_NetsuiteOrder.DiscountedPrice__c}), {!form_UnitPrice},{!sov_NetsuiteOrder.DiscountedPrice__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>form_dud_DiscountRate</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!sov_NetsuiteOrder.DiscountedPrice__c}), {!form_UnitPrice} - ({!form_UnitPrice} * ({!sov_NetsuiteOrder.discountRate__c}/100)), {!sov_NetsuiteOrder.DiscountedPrice__c} - ({!sov_NetsuiteOrder.DiscountedPrice__c} * ({!sov_NetsuiteOrder.discountRate__c}/100)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>form_dud_DiscountValue</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!sov_NetsuiteOrder.DiscountedPrice__c}), {!form_UnitPrice} - {!sov_NetsuiteOrder.DiscountValue__c},{!sov_NetsuiteOrder.DiscountedPrice__c} - {!sov_NetsuiteOrder.DiscountValue__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>form_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!BilltoShiptoErrorVariable}), LEFT({!$Flow.FaultMessage},255), {!BilltoShiptoErrorVariable})</expression>
    </formulas>
    <formulas>
        <name>form_ManualDiscount</name>
        <dataType>Number</dataType>
        <expression>{!sov_PriceBookEntry.UnitPrice}-{!sov_NetsuiteOrder.NetSalesPrice__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>form_OrderItemRef</name>
        <dataType>String</dataType>
        <expression>IF(AND({!sov_NetsuiteOrder.Source__c}=&quot;Trade&quot; , ISBLANK({!sov_NetsuiteOrder.orderItemRef__c})),RIGHT({!sov_NetsuiteOrder.ExternalOrderId__c},10),{!sov_NetsuiteOrder.orderItemRef__c})</expression>
    </formulas>
    <formulas>
        <name>form_OrderRef</name>
        <dataType>String</dataType>
        <expression>IF(AND({!sov_NetsuiteOrder.Source__c}=&quot;Trade&quot; , ISBLANK({!sov_NetsuiteOrder.orderRef__c})),RIGHT({!sov_NetsuiteOrder.ExternalOrderId__c},10),{!sov_NetsuiteOrder.orderRef__c})</expression>
    </formulas>
    <formulas>
        <name>form_TotalDiscount</name>
        <dataType>Number</dataType>
        <expression>({!sov_NetsuiteOrder.ListPrice__c}-{!sov_NetsuiteOrder.NetSalesPrice__c})*{!sov_NetsuiteOrder.quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>form_UnitPrice</name>
        <dataType>Currency</dataType>
        <expression>IF( NOT(ISBLANK({!sov_NetsuiteOrder.NetSalesPrice__c})), {!sov_NetsuiteOrder.NetSalesPrice__c},
IF(ISBLANK({!sov_NetsuiteOrder.ListPrice__c} ), {!sov_PriceBookEntry.UnitPrice}, {!sov_NetsuiteOrder.ListPrice__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formDeliveryEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!sov_NetsuiteOrder.DeliveryEmail__c}),{!sov_DeliveryLocation.OrderNotificationEmail__c},{!sov_NetsuiteOrder.DeliveryEmail__c})</expression>
    </formulas>
    <formulas>
        <name>formDeliveryPhone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!sov_NetsuiteOrder.DeliveryPhone__c}),{!sov_DeliveryLocation.Phone},{!sov_NetsuiteOrder.DeliveryPhone__c})</expression>
    </formulas>
    <formulas>
        <description>If Email__c on import order is filled, use this value - else, get the email value (Billing Reminder) from the account</description>
        <name>OrderBillingEmail</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!sov_NetsuiteOrder.InvoiceEmail__c})), {!sov_NetsuiteOrder.InvoiceEmail__c}, 
{!sov_OrderAccount.BillingReminderEmail__c})</expression>
    </formulas>
    <formulas>
        <description>If Email__c on import order is filled, use this value - else, get the email value (Ship To Email) from the account</description>
        <name>OrderEmailNotification</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!sov_DeliveryLocation.OrderNotificationEmail__c})), {!sov_DeliveryLocation.OrderNotificationEmail__c}, 
IF(NOT(ISNULL({!sov_OrderAccount.OrderNotificationEmail__c})), {!sov_OrderAccount.OrderNotificationEmail__c}, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <description>If Email__c on import order is filled, use this value - else, get the email value (Order Invoice) from the account</description>
        <name>OrderInvoiceEmail</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!sov_NetsuiteOrder.InvoiceEmail__c})), {!sov_NetsuiteOrder.InvoiceEmail__c}, 
{!sov_OrderAccount.InvoicingEmail__c})</expression>
    </formulas>
    <formulas>
        <description>This formula calculates the total VAT of an Import Order Product record</description>
        <name>OrderItemTotalVAT</name>
        <dataType>Currency</dataType>
        <expression>{!sov_NetsuiteOrder.LineItemTotal__c} * ({!sov_NetsuiteOrder.taxRate__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OrderNotificationEmail2</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!sov_NetsuiteOrder.email__c})), {!sov_NetsuiteOrder.email__c} &lt;&gt; {!OrderEmailNotification}), {!sov_NetsuiteOrder.email__c}, 
IF(AND(NOT(ISBLANK({!sov_NetsuiteOrder.UserEmail__c})), {!sov_NetsuiteOrder.UserEmail__c} &lt;&gt; {!OrderEmailNotification}),{!sov_NetsuiteOrder.UserEmail__c},
IF(AND(ISBLANK({!sov_NetsuiteOrder.UserEmail__c}), NOT(ISBLANK({!sov_NetsuiteOrder.Shiptoemail__c})),{!sov_NetsuiteOrder.Shiptoemail__c} &lt;&gt; {!OrderEmailNotification}),{!sov_NetsuiteOrder.Shiptoemail__c},&apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>OrderTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!sov_NetsuiteOrder.orderType__c}), &quot;RegularOrder&quot;, {!sov_NetsuiteOrder.orderType__c})</expression>
    </formulas>
    <formulas>
        <name>shipToAttentionOfFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!sov_NetsuiteOrder.ShiptoFortheAttentionof__c}), {!sov_Order.Shipto__r.shipToAttentionOf__c},{!sov_NetsuiteOrder.ShiptoFortheAttentionof__c})</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Import Order Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Order Handler</label>
    <loops>
        <name>Loop_Import_Order_Lines</name>
        <label>Loop Import Order Lines</label>
        <locationX>5297</locationX>
        <locationY>2610</locationY>
        <collectionReference>Get_PrivateIndividual_Import_Order_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetReadyForPrivateIndividual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ImportOrder_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOrderPricingMdt</name>
        <label>LoopOrderPricingMdt</label>
        <locationX>2746</locationX>
        <locationY>3370</locationY>
        <collectionReference>GetOrderPricingMethodMdt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Found_Discount_Group_Pricing_Method</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>B2BSalesforceOrderActivate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatB2BTriggerBusinesslogic</name>
        <label>CreatB2BTriggerBusinesslogic</label>
        <locationX>4933</locationX>
        <locationY>2119</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>B2BOrderTriggerUtil__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>4301</locationX>
        <locationY>2466</locationY>
        <connector>
            <targetReference>AssignComlpete_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>sov_Order</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OrderItem</name>
        <label>Create OrderItem</label>
        <locationX>4728</locationX>
        <locationY>1025</locationY>
        <connector>
            <targetReference>Assign_OrderItem_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>sov_OrderItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Private_Individual_Account</name>
        <label>Create Private Individual Account</label>
        <locationX>790</locationX>
        <locationY>2218</locationY>
        <connector>
            <targetReference>Get_Created_Private_Individual</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>sov_NetsuiteOrder.BillingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>sov_NetsuiteOrder.BillingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>sov_NetsuiteOrder.BillingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingReminderEmail__c</field>
            <value>
                <elementReference>sov_NetsuiteOrder.UserEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>sov_NetsuiteOrder.BillingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunicationLanguage__c</field>
            <value>
                <elementReference>CommunicationLanguageSetting.SalesforceCommunicationLanguage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCategory__c</field>
            <value>
                <stringValue>Private Individual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerDiscountGroup__c</field>
            <value>
                <stringValue>Private Individual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DigitalActivationEmail__c</field>
            <value>
                <elementReference>sov_NetsuiteOrder.UserEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>sov_NetsuiteOrder.UserEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingEmail__c</field>
            <value>
                <elementReference>sov_NetsuiteOrder.UserEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingFrequency__c</field>
            <value>
                <stringValue>Daily</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!sov_NetsuiteOrder.FirstName__c} {!sov_NetsuiteOrder.LastName__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>sov_NetsuiteOrder.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderNotificationEmail__c</field>
            <value>
                <elementReference>sov_NetsuiteOrder.UserEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Private_Individual_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>sov_NetsuiteOrder.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>sov_NetsuiteOrder.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>sov_NetsuiteOrder.Postalcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>sov_NetsuiteOrder.addressLine1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>authorFirstName__c</field>
            <value>
                <elementReference>sov_NetsuiteOrder.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>authorLastName__c</field>
            <value>
                <elementReference>sov_NetsuiteOrder.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Private_Individual</name>
        <label>Get Created Private Individual</label>
        <locationX>790</locationX>
        <locationY>2446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NetsuiteId_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Private_Individual_Account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Disontinued_Product</name>
        <label>Get Disontinued Product</label>
        <locationX>3614</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decDiscontinuedProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_PriceBookEntry.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>sov_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>itemGroupManualBlock__c</queriedFields>
        <queriedFields>Renewable__c</queriedFields>
        <queriedFields>maxQuantity__c</queriedFields>
        <queriedFields>DeliveryStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Import_Order_Invoice_Location</name>
        <label>Get Import Order Invoice Location</label>
        <locationX>1913</locationX>
        <locationY>2451</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Location_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LocationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.invoiceIdLocation__c</elementReference>
            </value>
        </filters>
        <object>ImportOrderLocation__c</object>
        <outputReference>sov_ImportOrderInvoiceLocation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>CustomerNumber__c</queriedFields>
        <queriedFields>KlopotekId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Import_Order_Shipping_Location</name>
        <label>Get Import Order Shipping Location</label>
        <locationX>1912</locationX>
        <locationY>3037</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Shipping_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LocationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.deliveryIdLocation__c</elementReference>
            </value>
        </filters>
        <object>ImportOrderLocation__c</object>
        <outputReference>sov_ImportOrderShippingLocation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>CustomerNumber__c</queriedFields>
        <queriedFields>KlopotekId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>1963</locationX>
        <locationY>1051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fount_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ExternalOrderId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_pricebook</name>
        <label>Get pricebook</label>
        <locationX>1957</locationX>
        <locationY>1863</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Account_Flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookName</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>sov_PriceBook</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FollowUpPriceBook__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBookEntry</name>
        <label>Get PriceBookEntry</label>
        <locationX>3228</locationX>
        <locationY>1002</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Entry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>ProductEAN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ProductId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ISBN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ProductId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.Pricebook2Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>sov_PriceBookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Private_Individual_Record_Type</name>
        <label>Get Private Individual Record Type</label>
        <locationX>994</locationX>
        <locationY>1977</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCommunicationLanguageSetting</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2C_Private_Individuals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PrivateIndividual_Import_Order_Header</name>
        <label>Get PrivateIndividual Import Order Header</label>
        <locationX>1914</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ImportOrder_Has_Order_Lookup</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ExternalOrderId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ImportOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PrivateIndividual_Import_Order_Lines</name>
        <label>Get PrivateIndividual Import Order Lines</label>
        <locationX>4940</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Import_Order_Lines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.ExternalOrderId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>customerOrderType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>private</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ImportOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>3935</locationX>
        <locationY>925</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decIsBlockedItemGroup</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_PriceBookEntry.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>sov_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>itemGroupManualBlock__c</queriedFields>
        <queriedFields>Renewable__c</queriedFields>
        <queriedFields>maxQuantity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This get takes the Communication Language on the Import Order and get the metadata record mapped to the expected value to retrieve the valid picklist value that is used on the Account</description>
        <name>GetCommunicationLanguageSetting</name>
        <label>Get Communication Language Setting</label>
        <locationX>789</locationX>
        <locationY>1977</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Private_Individual_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExpectedLanguage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.CommunicationLanguage__c</elementReference>
            </value>
        </filters>
        <object>CommunicationLanguageSetting__mdt</object>
        <outputReference>CommunicationLanguageSetting</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SalesforceCommunicationLanguage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOrderPricingMethodMdt</name>
        <label>GetOrderPricingMethodMdt</label>
        <locationX>2512</locationX>
        <locationY>3438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOrderPricingMdt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookName</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_InvoiceLocation.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderPricingTable__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPricebookOperatingCompany</name>
        <label>getPricebookOperatingCompany</label>
        <locationX>2071</locationX>
        <locationY>1484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOpCoPB</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderRequestPricebook__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>sov_ItemShiptoAccount</name>
        <label>sov_ItemShiptoAccount</label>
        <locationX>3338</locationX>
        <locationY>639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Delivery_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EcinNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EcinNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.deliveryIdLocation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ImportOrder_Lines</name>
        <label>Update ImportOrder Lines</label>
        <locationX>4939</locationX>
        <locationY>2742</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>varImportOrders</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NetSuiteRecord</name>
        <label>Update NetSuiteRecord</label>
        <locationX>4174</locationX>
        <locationY>1896</locationY>
        <connector>
            <targetReference>decCheckifBussinessLogicTRue</targetReference>
        </connector>
        <inputReference>sov_NetsuiteOrder</inputReference>
    </recordUpdates>
    <start>
        <locationX>235</locationX>
        <locationY>750</locationY>
        <connector>
            <targetReference>OrderIDcontainscharsitshouldnt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Delivery_Location_Account</name>
        <label>Get Delivery Location Account</label>
        <locationX>1399</locationX>
        <locationY>3214</locationY>
        <connector>
            <targetReference>No_Delivery_Account</targetReference>
        </connector>
        <flowName>ImportOrderHandlerGetAccountSubflow</flowName>
        <inputAssignments>
            <name>ImportOrderCustomerIdentifier</name>
            <value>
                <elementReference>sov_NetsuiteOrder.deliveryIdLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sov_NetsuiteOrder</name>
            <value>
                <elementReference>sov_NetsuiteOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_DeliveryLocation</assignToReference>
            <name>sov_OrderAccount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Invoice_Import_Location_Account</name>
        <label>Get Invoice Import Location Account</label>
        <locationX>2138</locationX>
        <locationY>2739</locationY>
        <connector>
            <targetReference>Assign_Invoice_Location</targetReference>
        </connector>
        <flowName>ImportOrderHandlerGetAccountSubflow</flowName>
        <inputAssignments>
            <name>sov_NetsuiteOrder</name>
            <value>
                <elementReference>sov_NetsuiteOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sov_ImportOrderLocation</name>
            <value>
                <elementReference>sov_ImportOrderInvoiceLocation</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_InvoiceLocation</assignToReference>
            <name>sov_OrderAccount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Invoice_Location_Account</name>
        <label>Get Invoice Location Account</label>
        <locationX>1546</locationX>
        <locationY>2745</locationY>
        <connector>
            <targetReference>decInvoiceLocation</targetReference>
        </connector>
        <flowName>ImportOrderHandlerGetAccountSubflow</flowName>
        <inputAssignments>
            <name>ImportOrderCustomerIdentifier</name>
            <value>
                <elementReference>sov_NetsuiteOrder.invoiceIdLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sov_NetsuiteOrder</name>
            <value>
                <elementReference>sov_NetsuiteOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_InvoiceLocation</assignToReference>
            <name>sov_OrderAccount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Order_Account_Flow</name>
        <label>Get Order Account Flow</label>
        <locationX>1957</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>Should_Create_Private_Individual</targetReference>
        </connector>
        <flowName>ImportOrderHandlerGetAccountSubflow</flowName>
        <inputAssignments>
            <name>ImportOrderCustomerIdentifier</name>
            <value>
                <elementReference>sov_NetsuiteOrder.customerNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sov_NetsuiteOrder</name>
            <value>
                <elementReference>sov_NetsuiteOrder</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_OrderAccount</assignToReference>
            <name>sov_OrderAccount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Shipping_Import_Location_Account</name>
        <label>Get Shipping Import Location Account</label>
        <locationX>2313</locationX>
        <locationY>3048</locationY>
        <connector>
            <targetReference>Assign_Shipping_Location</targetReference>
        </connector>
        <flowName>ImportOrderHandlerGetAccountSubflow</flowName>
        <inputAssignments>
            <name>sov_NetsuiteOrder</name>
            <value>
                <elementReference>sov_NetsuiteOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sov_ImportOrderLocation</name>
            <value>
                <elementReference>sov_ImportOrderShippingLocation</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_DeliveryLocation</assignToReference>
            <name>sov_OrderAccount</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BilltoShiptoErrorVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunicationLanguageSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommunicationLanguageSetting__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Default_Pricing_Method</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderPricingTable__mdt</objectType>
    </variables>
    <variables>
        <name>debugItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sov_DeliveryLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sov_ImportOrderInvoiceLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportOrderLocation__c</objectType>
    </variables>
    <variables>
        <name>sov_ImportOrderShippingLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportOrderLocation__c</objectType>
    </variables>
    <variables>
        <name>sov_InvoiceLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sov_ItemGroupComponent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>sov_NetsuiteOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportOrder__c</objectType>
    </variables>
    <variables>
        <name>sov_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>sov_OrderAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sov_OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>sov_PriceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>sov_PriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>sov_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>var_ResumeTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultPricingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OrderProductQuantity</stringValue>
        </value>
    </variables>
    <variables>
        <name>varImportOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportOrder__c</objectType>
    </variables>
</Flow>
