force-app/main/default/flows/Integration_Factory_Send_Set_True.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Validation_Errors_True</name>
        <label>Is Validation Errors True</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Account_IFS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integration Errors False</defaultConnectorLabel>
        <rules>
            <name>Integration_Errors_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.ValidateIntegrationerrors__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integration_Errors_Screen</targetReference>
            </connector>
            <label>Integration Errors True</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Object</name>
        <label>What Object</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Account_Subsidiary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0g</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Sub_IFS</targetReference>
            </connector>
            <label>Account Subsidiary</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_IFS</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_IFS</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <description>This Flow sets the Integration Factory Send checkbox to true on an object depending on the record Id prefix characters (the first 3 characters of the record Id)</description>
    <environments>Default</environments>
    <formulas>
        <name>VendorToggleFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Account.NetSuiteVendorId__c})), 
                           IF({!Get_Account.VendorToggle__c} = TRUE, FALSE, TRUE), 
                           {!Get_Account.VendorToggle__c}
)</expression>
    </formulas>
    <interviewLabel>Integration Factory Send Set True {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration Factory Send Set True</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Validation_Errors_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Account Integration Factory Send</description>
        <name>Account_IFS</name>
        <label>Account IFS</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IntegrationFactorySend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VendorToggle__c</field>
            <value>
                <elementReference>VendorToggleFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Account Subsidiary Integration Factory Send</description>
        <name>Account_Sub_IFS</name>
        <label>Account Sub IFS</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IntegrationFactorySend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AccountSubsidiary__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Contact Integration Factory Send</description>
        <name>Contact_IFS</name>
        <label>Contact IFS</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IntegrationFactorySend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Integration Factory Send</description>
        <name>Order_IFS</name>
        <label>Order IFS</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IntegrationFactorySend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FinishScreen</name>
        <label>FinishScreen</label>
        <locationX>776</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinsishText</name>
            <fieldText>&lt;p&gt;Integration Factory Send has been triggered&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Integration_Errors_Screen</name>
        <label>Integration Errors Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IntegrationErrorsText</name>
            <fieldText>&lt;p&gt;Validation Integration Errors is true on this Account, please fix the errors before syncing to Integration Factory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
