force-app/main/default/flows/Mass_Delete_Flow_Interviews.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignLabelsCollection</name>
        <label>assignLabelsCollection</label>
        <locationX>627</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>collectionLabelTexts</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>loopLabelCollection.InterviewLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionLabelTexts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLabelCollection.InterviewLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLabelCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLabelToVariable</name>
        <label>assignLabelToVariable</label>
        <locationX>525</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>varLabelName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklistLabels.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mass_Delete_Paused_Interviews</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Mass Delete Flow Interviews {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Delete Flow Interviews</label>
    <loops>
        <name>loopLabelCollection</name>
        <label>loopLabelCollection</label>
        <locationX>357</locationX>
        <locationY>199</locationY>
        <collectionReference>getFlowInterviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignLabelsCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screenInteverview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Mass_Delete_Paused_Interviews</name>
        <label>Mass Delete Paused Interviews</label>
        <locationX>706</locationX>
        <locationY>418</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InterviewLabel</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>varLabelName</elementReference>
            </value>
        </filters>
        <object>FlowInterview</object>
    </recordDeletes>
    <recordLookups>
        <name>getFlowInterviews</name>
        <label>getFlowInterviews</label>
        <locationX>181</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopLabelCollection</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowInterview</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screenInteverview</name>
        <label>screenInteverview</label>
        <locationX>349</locationX>
        <locationY>424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignLabelToVariable</targetReference>
        </connector>
        <fields>
            <name>picklistLabels</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>collectionLabelTexts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getFlowInterviews</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionLabelTexts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordLabelcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowInterview</objectType>
    </variables>
    <variables>
        <name>varInterviewLabelCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLabelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
