force-app/main/default/flows/Opportunity_Line_Item_View_Edit_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Opportunity Line Item View/Edit Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Line Item View/Edit Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OpportunityLineItem</name>
        <label>Get OpportunityLineItem</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Line_Item_View</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Product</name>
        <label>Update Opportunity Product</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>Get_OpportunityLineItem</inputReference>
    </recordUpdates>
    <screens>
        <name>Opportunity_Line_Item_View</name>
        <label>Opportunity Line Item View</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity_Product</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Line_Item_View_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Line_Item_View_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opportunity</name>
                    <fieldText>&lt;p&gt;Opportunity&lt;/p&gt;&lt;p&gt;{!Get_OpportunityLineItem.Opportunity.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Line_Item_View_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <fieldText>&lt;p&gt;Date&lt;/p&gt;&lt;p&gt;{!Get_OpportunityLineItem.ServiceDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Line_Item_View_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Line_Item_View_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product</name>
                    <fieldText>&lt;p&gt;Product&lt;/p&gt;&lt;p&gt;{!Get_OpportunityLineItem.Product2.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Line_Item_View_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductCode</name>
                    <fieldText>&lt;p&gt;Product Code&lt;/p&gt;&lt;p&gt;{!Get_OpportunityLineItem.ProductCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Line_Item_View_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Line_Item_View_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalesPrice</name>
                    <fieldText>&lt;p&gt;Sales Price&lt;/p&gt;&lt;p&gt;EUR {!Get_OpportunityLineItem.UnitPrice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Line_Item_View_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Terms</name>
                    <fieldText>&lt;p&gt;Terms&lt;/p&gt;&lt;p&gt;{!Get_OpportunityLineItem.Terms__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Line_Item_View_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Line_Item_View_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <fieldText>&lt;p&gt;Quantity&lt;/p&gt;&lt;p&gt;{!Get_OpportunityLineItem.Quantity}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Line_Item_View_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ListPrice</name>
                    <fieldText>&lt;p&gt;List Price&lt;/p&gt;&lt;p&gt;EUR {!Get_OpportunityLineItem.ListPrice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Line_Item_View_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Line_Item_View_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discount</name>
                    <fieldText>&lt;p&gt;Discount&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Line_Item_View_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TotalPrice</name>
                    <fieldText>&lt;p&gt;Total Price&lt;/p&gt;&lt;p&gt;EUR {!Get_OpportunityLineItem.TotalPrice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Line_Item_View_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Line_Item_View_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DiscountWholeSale</name>
                    <fieldText>&lt;p&gt;Discount Whole Sale&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Line_Item_View_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PackageType</name>
                    <fieldText>&lt;p&gt;Package Type&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Line_Item_View_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Line_Item_View_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AF</name>
                    <fieldText>&lt;p&gt;AF%&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Line_Item_View_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OperatingCompany</name>
                    <fieldText>&lt;p&gt;Operating Company&lt;/p&gt;&lt;p&gt;{!Get_OpportunityLineItem.OperatingCompany__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Line_Item_View_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Line_Item_View_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GroupDescription</name>
                    <fieldText>&lt;p&gt;Group Description&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Line_Item_View_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <fieldText>&lt;p&gt;Email address&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Line_Item_View_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Line_Item_View_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreatedBy</name>
                    <fieldText>&lt;p&gt;Created By&lt;/p&gt;&lt;p&gt;{!Get_OpportunityLineItem.CreatedBy.Name}, {!Get_OpportunityLineItem.CreatedDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Line_Item_View_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastModified</name>
                    <fieldText>&lt;p&gt;Last Modified By&lt;/p&gt;&lt;p&gt;{!Get_OpportunityLineItem.LastModifiedBy.Name}, {!Get_OpportunityLineItem.LastModifiedDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Line_Item_View_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Line_Item_View_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_OpportunityLineItem.CustomerReference__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItem</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
