force-app/main/default/flows/Order_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignValues</name>
        <label>AssignValues</label>
        <locationX>277</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>PriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookIdForm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofPupils</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoPupilsForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSchools</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Order Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetSchools</name>
        <label>GetSchools</label>
        <locationX>477</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectProductFooter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Use_in_flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FooterForm</name>
        <label>FooterForm</label>
        <locationX>221</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignValues</targetReference>
        </connector>
        <fields>
            <name>NoPupilsForm</name>
            <dataType>Number</dataType>
            <fieldText>No Pupils Form</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PriceBookIdForm</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PriceBookId</elementReference>
            </defaultValue>
            <fieldText>Contract Id Form</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectProductFooter</name>
        <label>SelectProductFooter</label>
        <locationX>442</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SelectProuductOrder</name>
            <extensionName>c:NewProductSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>TotalNumberofStudents</name>
                <value>
                    <elementReference>NoPupilsForm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountsData</name>
                <value>
                    <elementReference>GetSchools</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ContractId</name>
                <value>
                    <elementReference>PriceBookIdForm</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FooterForm</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>NumberofPupils</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
