force-app/main/default/flows/Order_UpdateOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>ass_HasContract</name>
        <label>ass_HasContract</label>
        <locationX>456</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>ContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_NoContract</name>
        <label>ass_NoContract</label>
        <locationX>684</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>ContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selector</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_CheckforContract</name>
        <label>dec_CheckforContract</label>
        <locationX>328</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsContractTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrder.ContractId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_HasContract</targetReference>
            </connector>
            <label>IsContractTrue</label>
        </rules>
        <rules>
            <name>IsContractFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrder.ContractId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_NoContract</targetReference>
            </connector>
            <label>IsContractFalse</label>
        </rules>
    </decisions>
    <interviewLabel>Order_UpdateOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_UpdateOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOrder</name>
        <label>GetOrder</label>
        <locationX>260</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckforContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Product_Selector</name>
        <label>Product_Selector</label>
        <locationX>815</locationX>
        <locationY>551</locationY>
        <flowName>Order_ProductSelector</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>GetOrder.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContractRenewal</name>
            <value>
                <elementReference>ContractRenewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContractRequired</name>
            <value>
                <elementReference>ContractRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExistingContract</name>
            <value>
                <elementReference>ExistingContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isNewOrder</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PricebookId</name>
            <value>
                <elementReference>GetOrder.Pricebook2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PricingMethod</name>
            <value>
                <elementReference>GetOrder.PricingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ContractRenewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
