force-app/main/default/flows/Order_RetriggerIntegrationFactory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IFCallout1</name>
        <label>IFCallout1</label>
        <locationX>417</locationX>
        <locationY>355</locationY>
        <actionName>IFNamedX1.SetVariablesIF1</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>IFBody1</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assBodyVar</name>
        <label>assBodyVar</label>
        <locationX>709</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>IFBody1.orderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrder.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFCallout1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Order_RetriggerIntegrationFactory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_RetriggerIntegrationFactory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getOrder</name>
        <label>getOrder</label>
        <locationX>1040</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assBodyVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DYnamicClass</name>
        <apexClass>ExternalService__Test_Example_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IFBody1</name>
        <apexClass>ExternalService__IFNamedX1_SetVariablesIF1_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
