force-app/main/default/flows/Order_StructurediscountCalculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>StructurediscountCalculation</name>
        <label>StructurediscountCalculation</label>
        <locationX>455</locationX>
        <locationY>331</locationY>
        <actionName>Order_StructurediscountCalculation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TotalFooter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContractId</name>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContractRenewal</name>
            <value>
                <elementReference>Order_StructurediscountCalculation.ContractRenewal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContractRequired</name>
            <value>
                <elementReference>Order_StructurediscountCalculation.ContractRequired</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ExistingContract</name>
            <value>
                <elementReference>Order_StructurediscountCalculation.ExistingContract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>GroupBasedType</name>
            <value>
                <elementReference>Order_StructurediscountCalculation.GroupBasedType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ListOfAccountIds</name>
            <value>
                <elementReference>LstAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ListOfIds</name>
            <value>
                <elementReference>Order_StructurediscountCalculation.ListOfIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PricingMethod</name>
            <value>
                <elementReference>Order_StructurediscountCalculation.PricingMethod</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ContractRenewal</assignToReference>
            <name>ContractRenewal</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExistingContract</assignToReference>
            <name>ExistingContract</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PricingMethod</assignToReference>
            <name>PricingMethod</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TotalNumbers</assignToReference>
            <name>totalnumbers</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignAccountIDToList</name>
        <label>AssignAccountIDToList</label>
        <locationX>73</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>LstAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccounts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Order_StructurediscountCalculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_StructurediscountCalculation</label>
    <loops>
        <name>LoopAccounts</name>
        <label>LoopAccounts</label>
        <locationX>77</locationX>
        <locationY>366</locationY>
        <collectionReference>lstAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAccountIDToList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>StructurediscountCalculation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Footer</name>
        <label>Footer</label>
        <locationX>261</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopAccounts</targetReference>
        </connector>
        <fields>
            <name>Order_StructurediscountCalculation</name>
            <extensionName>c:Order_StructurediscountCalculation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ContractRenewal</name>
                <value>
                    <elementReference>ContractRenewal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ExistingContract</name>
                <value>
                    <elementReference>ExistingContract</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PricingMethod</name>
                <value>
                    <elementReference>PricingMethod</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TotalFooter</name>
        <label>TotalFooter</label>
        <locationX>833</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayNumbers</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿Total Numbers: {!TotalNumbers}&lt;/span&gt;&lt;/p&gt;&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>84</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Footer</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractRenewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LstAccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PricingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalNumbers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
