force-app/main/default/flows/Scheduled_Flow_Match_Order_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Scheduled Flow - Match Order to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow - Match Order to Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_OrderItem</name>
        <label>Update OrderItem</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <inputReference>sov_OrderItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Match_Order_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderLineType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspection Copy</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Item Group</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-04</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Match_Order_to_Opportunity</name>
        <label>Match Order to Opportunity</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Update_OrderItem</targetReference>
        </connector>
        <flowName>Match_Order_to_Opportunity</flowName>
        <inputAssignments>
            <name>sov_OrderItem</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_OrderItem</assignToReference>
            <name>sov_OrderItem</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>sov_OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
