force-app/main/default/flows/Schedule_Order_Stress_Tests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Stress_Test_Orders</name>
        <label>Create Stress Test Orders</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <actionName>Order_StressTestInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>All</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <decisions>
        <name>What_config_was_selected</name>
        <label>What config was selected?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Specific</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Config_Option</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>All</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Summary</targetReference>
            </connector>
            <label>Specific</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>stressTestOrderRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderStressTest__c</object>
        <outputAssignments>
            <assignToReference>includeItemGroups</assignToReference>
            <field>IncludeItemGroups__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>intervalMinutes</assignToReference>
            <field>IntervalMinutes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>configName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>numberOfOrdersToCreate</assignToReference>
            <field>NumberofOrderstoCreate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>numberOfProductsToUsePerOrder</assignToReference>
            <field>NumberofProductsPerOrder__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>operatingCompany</assignToReference>
            <field>OperatingCompany__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>timeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Schedule Order Stress Tests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Order Stress Tests</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_All_Config_Options</name>
        <label>Update All Config Options</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Stress_Test_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LastScheduled__c</field>
            <value>
                <elementReference>timeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunAutomationUntil__c</field>
            <value>
                <elementReference>Run_Job_Until</elementReference>
            </value>
        </inputAssignments>
        <object>OrderStressTest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Single_Stress_Test_Record</name>
        <label>Update Single Stress Test Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Stress_Test_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Config_Option</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastScheduled__c</field>
            <value>
                <elementReference>timeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunAutomationUntil__c</field>
            <value>
                <elementReference>Run_Job_Until</elementReference>
            </value>
        </inputAssignments>
        <object>OrderStressTest__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Summary</name>
        <label>Copy 1 of Summary</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_All_Config_Options</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_SummaryTxt</name>
            <fieldText>&lt;p&gt;The stress test orders will be created for all of the configs available.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispTxt1</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;The scheduled job has been kicked off. Orders will be created for the selected configuration.&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;You can view the import orders &lt;a href=&quot;/lightning/o/ImportOrder__c/list?filterName=All&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;user-select: auto;&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;You can view the orders &lt;a href=&quot;/lightning/o/Order/list?filterName=AllOrders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;You can view the order stress test records &lt;a href=&quot;/lightning/o/OrderStressTest__c/list?filterName=All&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;user-select: auto;&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_Order_Stress_Test</name>
        <label>Schedule Order Stress Test</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_config_was_selected</targetReference>
        </connector>
        <fields>
            <name>dispTxt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a config to run the stress tests for and select the date/time that the jobs should run until.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Schedule_Order_Stress_Test_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Order_Stress_Test_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Config_Option</name>
                    <choiceReferences>All</choiceReferences>
                    <choiceReferences>stressTestOrderRecordChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Config Option</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Order_Stress_Test_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Run_Job_Until</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>timeNow</elementReference>
                    </defaultValue>
                    <fieldText>Run Job Until</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The selected time cannot be in the past&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Run_Job_Until} &gt; {!timeNow}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Single_Stress_Test_Record</targetReference>
        </connector>
        <fields>
            <name>SummaryTxt</name>
            <fieldText>&lt;p&gt;The stress test orders will be created for the following config:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name&lt;/strong&gt;: {!configName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Operating Company&lt;/strong&gt;: {!operatingCompany}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Interval (Minutes)&lt;/strong&gt;: {!intervalMinutes}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;# of Orders to Create&lt;/strong&gt;: {!numberOfOrdersToCreate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;# of Products to use per Order&lt;/strong&gt;: {!numberOfProductsToUsePerOrder}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Include Item Groups&lt;/strong&gt;: {!includeItemGroups}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Schedule_Order_Stress_Test</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>configName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>includeItemGroups</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intervalMinutes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberOfOrdersToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfProductsToUsePerOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>operatingCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
