force-app/main/default/flows/SetNextInvoicingDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignFormalaDateToNewDateVariable</name>
        <label>assignFormalaDateToNewDateVariable</label>
        <locationX>652</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>varNewInvoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCalculateNewYearlyInvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFormalaDateToNewDateVariable_0</name>
        <label>assignFormalaDateToNewDateVariable</label>
        <locationX>656</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>varNewInvoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCalculateNewQuarterlyInvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFormalaDateToNewDateVariable_0_0</name>
        <label>assignFormalaDateToNewDateVariable</label>
        <locationX>662</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>varNewInvoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCalculateNewMonthlyInvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateContract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decIsDateSmallerThanEndDate</name>
        <label>decIsDateSmallerThanEndDate</label>
        <locationX>387</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formulaCalculateNewYearlyInvoiceDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFormalaDateToNewDateVariable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsDateSmallerThanEndDate_0</name>
        <label>decIsDateSmallerThanEndDate</label>
        <locationX>388</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formulaCalculateNewQuarterlyInvoiceDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFormalaDateToNewDateVariable_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsDateSmallerThanEndDate_0_0</name>
        <label>decIsDateSmallerThanEndDate</label>
        <locationX>385</locationX>
        <locationY>665</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formulaCalculateNewMonthlyInvoiceDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFormalaDateToNewDateVariable_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decWhatFrequencyIsUsed</name>
        <label>decWhatFrequencyIsUsed</label>
        <locationX>169</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yearly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InvoicingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yearly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decIsDateSmallerThanEndDate</targetReference>
            </connector>
            <label>Yearly</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InvoicingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decIsDateSmallerThanEndDate_0_0</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Quarterly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InvoicingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decIsDateSmallerThanEndDate_0</targetReference>
            </connector>
            <label>Quarterly</label>
        </rules>
        <rules>
            <name>One_off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InvoicingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-off</stringValue>
                </rightValue>
            </conditions>
            <label>One-off</label>
        </rules>
    </decisions>
    <description>Flow to set an invoice date based on the invoicing frequency.</description>
    <formulas>
        <name>formulaCalculateNewMonthlyInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.StartDate},1)</expression>
    </formulas>
    <formulas>
        <name>formulaCalculateNewQuarterlyInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>addmonths({!$Record.StartDate},3)</expression>
    </formulas>
    <formulas>
        <name>formulaCalculateNewYearlyInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>addmonths({!$Record.StartDate},12)</expression>
    </formulas>
    <interviewLabel>Set Next Invoicing Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Next Invoicing Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateContract</name>
        <label>updateContract</label>
        <locationX>905</locationX>
        <locationY>499</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NextInvoiceDate__c</field>
            <value>
                <elementReference>varNewInvoiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousInvoiceDate__c</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>decWhatFrequencyIsUsed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>NextInvoiceDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varNewInvoiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
