force-app/main/default/flows/Store_VAT_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Variables_0</name>
        <label>Assign Variables</label>
        <locationX>713</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.VATRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OrderLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_found</name>
        <label>Record found</label>
        <locationX>574</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VAT_Rule</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Store VAT Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store VAT Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OrderItem</name>
        <label>Get OrderItem</label>
        <locationX>391</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_OrderItem.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>sov_OrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>VATRule__c</queriedFields>
        <queriedFields>ShippingCountry__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>ShipToAccount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_VAT_Rule</name>
        <label>Get VAT Rule</label>
        <locationX>498</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_OrderItem.Order.AccountSubsidiary__r.LegalName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NexusCountry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_OrderItem.ShippingCountry__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_OrderItem.Product2.VAT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>VAT__c</object>
        <outputReference>sov_VAT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OrderLineItem</name>
        <label>Update OrderLineItem</label>
        <locationX>821</locationX>
        <locationY>68</locationY>
        <inputReference>sov_OrderItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_VAT_Rule</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sov_OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>sov_VAT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>VAT__c</objectType>
    </variables>
</Flow>
