force-app/main/default/flows/Subflow_for_Order_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Order_Product_to_Update_list</name>
        <label>Add Order Product to Update list</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>orderProductsToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation</name>
        <label>Set Validation</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Products.Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidationValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Product_to_Update_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Order_Products_to_update</name>
        <label>Any Order Products to update?</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderProductsToUpdateList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Throw_a_validation_error</name>
        <label>Throw a validation error?</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Loop_Order_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidationValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ValidationValue</name>
        <dataType>Number</dataType>
        <expression>IF (TEXT({!Loop_Order_Products.OrderStatus__c}) &lt;&gt; &apos;Activated&apos; &amp;&amp; NOT(CONTAINS({!Loop_Order_Products.Order.Pricebook2.Name}, &apos; Informat&apos;)), IF ((TEXT({!Loop_Order_Products.Order.OperatingCompany__c}) = &apos;Noordhoff&apos; || TEXT({!Loop_Order_Products.Order.OperatingCompany__c}) = &apos;Plantyn&apos;) &amp;&amp; LEN({!Loop_Order_Products.CustomerReference__c}) &gt; 10, 1, IF (TEXT({!Loop_Order_Products.Order.OperatingCompany__c}) = &apos;Liber&apos; &amp;&amp; LEN({!Loop_Order_Products.CustomerReference__c}) &gt; 25, 0, NULL)),NULL)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Subflow for Order Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow for Order Product</label>
    <loops>
        <name>Loop_Order_Products</name>
        <label>Loop Order Products</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Throw_a_validation_error</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Order_Products_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Products</name>
        <label>Update Order Products</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <inputReference>orderProductsToUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderProductsToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
