force-app/main/default/flows/TestJeroen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Product_dates_calculation</name>
        <label>Product dates calculation</label>
        <locationX>689</locationX>
        <locationY>917</locationY>
        <actionName>01p3N000005fNW7NotFound</actionName>
        <connector>
            <targetReference>Loop_Order_Product</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OrdeItemId</name>
            <value>
                <elementReference>Loop_Order_Product.OrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>625</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>soc_OrderItemsTest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Order_Product_New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Product_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Digital_Activation</name>
        <label>Assign Digital Activation</label>
        <locationX>1049</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.DigitalActivationEMail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product.ShipToAccount__r.DigitalActivationEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_tree</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List_Price_Discount_Amount</name>
        <label>Assign List Price Discount Amount</label>
        <locationX>1052</locationX>
        <locationY>811</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.ListPriceDiscountAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_ListPriceDiscountAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_tree</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Set_Total_Discount_Amount</name>
        <label>Assign Set Total Discount Amount</label>
        <locationX>782</locationX>
        <locationY>1287</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.TotalDiscountAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_TotalDiscountAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_tree</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Cost_Exempt_false</name>
        <label>Assign Shipping Cost Exempt: false</label>
        <locationX>920</locationX>
        <locationY>1157</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.ShippingIndicationRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product.Order.ShippingIndicationRule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_tree</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Cost_Exempt_True</name>
        <label>Assign Shipping Cost Exempt: True</label>
        <locationX>1034</locationX>
        <locationY>1129</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.ShippingIndicationRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping Cost Exempt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_tree</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_information</name>
        <label>Assign Shipping information</label>
        <locationX>1059</locationX>
        <locationY>940</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.DigitalActivationEMail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product.ShipToAccount__r.DigitalActivationEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product.ShipToAccount__r.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product.ShipToAccount__r.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product.ShipToAccount__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.ShippingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product.ShipToAccount__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product.ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product.ShipToAccount__r.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_tree</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_information_0</name>
        <label>Assign Shipping information</label>
        <locationX>824</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Product_New.DigitalActivationEMail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_New.ShipToAccount__r.DigitalActivationEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product_New.ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_New.ShipToAccount__r.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product_New.ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_New.ShipToAccount__r.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product_New.ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_New.ShipToAccount__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product_New.ShippingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_New.ShipToAccount__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product_New.ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_New.ShipToAccount__r.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Product_New.VATRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Vat.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Process_tree</name>
        <label>Process tree</label>
        <locationX>766</locationX>
        <locationY>746</locationY>
        <defaultConnector>
            <targetReference>Product_dates_calculation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Always</defaultConnectorLabel>
        <rules>
            <name>VAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Product.VATRule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Store_VAT_Update</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_VAT_Update</targetReference>
            </connector>
            <label>VAT</label>
        </rules>
        <rules>
            <name>Digital_Activation_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Product.ShipToAccount__r.DigitalActivationEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Order_Product.Product2.LicenseDuration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Digital_Activation</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Digital_Activation</targetReference>
            </connector>
            <label>Digital Activation Mail</label>
        </rules>
        <rules>
            <name>List_Price_Discount_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Product.List_Price_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_List_Price_Discount_Amount</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_List_Price_Discount_Amount</targetReference>
            </connector>
            <label>List Price Discount Amount</label>
        </rules>
        <rules>
            <name>Ship_To_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Product.ShipToAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Shipping_information</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_information</targetReference>
            </connector>
            <label>Ship To Account</label>
        </rules>
        <rules>
            <name>Shiping_cost_exempt_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Product.Order.ShippingCostExempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Shipping_Cost_Exempt_True</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_Cost_Exempt_True</targetReference>
            </connector>
            <label>Shiping cost exempt: true</label>
        </rules>
        <rules>
            <name>Shipping_cost_exempt_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Product.Order.ShippingCostExempt__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Order_Product.Order.ShippingCostExempt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Shipping_Cost_Exempt_false</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_Cost_Exempt_false</targetReference>
            </connector>
            <label>Shipping cost exempt: false</label>
        </rules>
        <rules>
            <name>Has_quantity_and_discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Product.Quantity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Order_Product.Discount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Set_Total_Discount_Amount</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Set_Total_Discount_Amount</targetReference>
            </connector>
            <label>Has quantity and discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_action</name>
        <label>Type action</label>
        <locationX>469</locationX>
        <locationY>656</locationY>
        <defaultConnector>
            <targetReference>Loop_Order_Product_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewUpdateActivate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Order_Product_New</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewUpdateActivate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Order_Product</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewUpdateActivate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <label>Activated</label>
        </rules>
    </decisions>
    <formulas>
        <name>form_ListPriceDiscountAmount</name>
        <dataType>Currency</dataType>
        <expression>ROUND(
   {!Loop_Order_Product.Quantity} * (
       {!Loop_Order_Product.ListPrice} * {!Loop_Order_Product.List_Price_Rate__c}
    ),2
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>form_TotalDiscountAmount</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!Loop_Order_Product.Quantity}*{!Loop_Order_Product.Discount__c},2)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestJeroen</label>
    <loops>
        <name>Loop_Order_Product</name>
        <label>Loop Order Product</label>
        <locationX>532</locationX>
        <locationY>818</locationY>
        <collectionReference>soc_OrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Order_Product_New</name>
        <label>Loop Order Product New</label>
        <locationX>550</locationX>
        <locationY>428</locationY>
        <collectionReference>soc_OrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_VAT_Test</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Shipping_information</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>160</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>8013N000001mIVSQA2</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>sov_Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountSubsidiary__c</queriedFields>
        <queriedFields>AccountSubsidiaryLegalName__c</queriedFields>
        <queriedFields>ShippingCost__c</queriedFields>
        <queriedFields>ShippingCostNonDomestic__c</queriedFields>
        <queriedFields>ShippingCostDomestic__c</queriedFields>
        <queriedFields>ShippingCostExempt__c</queriedFields>
        <queriedFields>ShippingCostMethod__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>653</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_tree</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Order_Product.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>Loop_Order_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>VATRule__c</queriedFields>
        <queriedFields>ShipToAccount__c</queriedFields>
        <queriedFields>DigitalActivationEMail__c</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <queriedFields>DiscountedPrice__c</queriedFields>
        <queriedFields>List_Price_Rate__c</queriedFields>
        <queriedFields>LicenseDuration__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>LineItemTotal__c</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>ShippingCity__c</queriedFields>
        <queriedFields>VAT__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>ShippingStreet__c</queriedFields>
        <queriedFields>ShippingState__c</queriedFields>
        <queriedFields>ShippingPostalCode__c</queriedFields>
        <queriedFields>ShippingCountry__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_0</name>
        <label>Get Order Product</label>
        <locationX>1096</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Shipping_information_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Order_Product_New.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>Loop_Order_Product_New</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>ShipToAccount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>297</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>8013N000001mIVSQA2</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>soc_OrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShipToAccount__c</queriedFields>
        <queriedFields>ShippingStreet__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ShippingCountry__c</queriedFields>
        <queriedFields>AccountSubsidiary__c</queriedFields>
        <queriedFields>AccountSubsidiaryName__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>ShippingIndicationRule__c</queriedFields>
        <queriedFields>Weight__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ship_to</name>
        <label>Get Ship to</label>
        <locationX>1085</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Shipping_information_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Order_Product_New.ShipToAccount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Shipping_information</name>
        <label>Shipping information</label>
        <locationX>316</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Store_Shipping_Cost_Test</targetReference>
        </connector>
        <inputReference>soc_OrderItemsTest</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Products</name>
        <label>Update Order Products</label>
        <locationX>533</locationX>
        <locationY>1010</locationY>
        <inputReference>soc_OrderItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>64</locationX>
        <locationY>590</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Store_Shipping_Cost</name>
        <label>Store Shipping Cost</label>
        <locationX>798</locationX>
        <locationY>519</locationY>
        <flowName>StoreShippingCost</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Loop_Order_Product_New.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Store_Shipping_Cost_Test</name>
        <label>Store Shipping Cost Test</label>
        <locationX>186</locationX>
        <locationY>232</locationY>
        <flowName>Store_Shipping_Cost_Test</flowName>
        <inputAssignments>
            <name>soc_OrderItem</name>
            <value>
                <elementReference>soc_OrderItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sov_Order</name>
            <value>
                <elementReference>sov_Order</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Store_Shipping_CostUpdate</name>
        <label>Store Shipping Cost</label>
        <locationX>845</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Process_tree</targetReference>
        </connector>
        <flowName>StoreShippingCost</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Loop_Order_Product.OrderId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Store_VAT</name>
        <label>Store VAT</label>
        <locationX>942</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Loop_Order_Product_New</targetReference>
        </connector>
        <flowName>StoreVAT</flowName>
        <inputAssignments>
            <name>sov_OrderItem</name>
            <value>
                <elementReference>Loop_Order_Product_New</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Store_VAT_Test</name>
        <label>Store VAT Test</label>
        <locationX>759</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Assign_Shipping_information_0</targetReference>
        </connector>
        <flowName>Store_VAT_Test</flowName>
        <inputAssignments>
            <name>sov_OrderItem</name>
            <value>
                <elementReference>Loop_Order_Product_New</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_Vat</assignToReference>
            <name>sov_VAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Store_VAT_Update</name>
        <label>Store VAT Update</label>
        <locationX>1040</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>Process_tree</targetReference>
        </connector>
        <flowName>StoreVAT</flowName>
        <inputAssignments>
            <name>sov_OrderItem</name>
            <value>
                <elementReference>Loop_Order_Product</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>soc_Order</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>soc_OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>soc_OrderItemsTest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>sov_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>sov_Vat</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VAT__c</objectType>
    </variables>
    <variables>
        <name>var_NewUpdateActivate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
